<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{admin-layout}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div class="content  p-5" layout:fragment="content">
            <style>
            body{
                background-color: #fff !important;
            }
            .hover-highlight-for-click{
                    transition: box-shadow .3s;
                }
            .hover-highlight-for-click:hover{
            
            
                box-shadow: 05px 10px 18px rgba(33,33,33,.2); 
            }
            .hover-white-highlight-for-click:hover{
            
            background-color: #fff;
            box-shadow: 05px 10px 18px rgba(33,33,33,.2); 
            }
            .card{
                width: 15%;
                margin-bottom: 3%;
            }
            @media only screen and (max-width: 992px) {
               .card{ 
                   width: 30%;
               }
            }
            </style>
            <!-- UPPER DIV -->
            <div class="d-flex align-items-center justify-content-around bg-color-two right-side-bar-upper-div">
                <div class="h-50 align-items-center">
                    <h1 class="my-3">
                        <b>Category List</b>
                        <br>
                        KhmerHowTo
                    </h1>
                    <input type="text" class="form-control-one-line  my-2  " placeholder="  find your category">
                </div>
                <div class="p-3 text-center hover-highlight-for-click" id="new_category">
                    <img src="/image-static/content.svg" class="card-img-top text-center" style="max-width: 150px;" alt="...">
                </div>
            </div>
            <!-- UPPER DIV -->
            <!-- MIDDLE Div -->
            <div class="d-flex  justify-content-between my-4">
                <h3>Category</h3>
                <a href="#">See more</a>
            </div>
            <!-- MIDDLE Div -->
            <!-- FOOTER DIV  -->
            <div class="d-flex flex-wrap justify-content-around ">
                <div class="card bg-color-two p-2 hover-white-highlight-for-click" style="">
                    <div class="m-4">
                        <img src="/image-static/machine-learning.svg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center">
                            <b>Machine Learning</b>
                        </h6>
                    </div>
                </div>
                <div class="card bg-color-two p-2 hover-white-highlight-for-click" style="">
                    <div class="m-4" >
                        <img src="/image-static/machine-learning.svg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center">
                            <b>Technology</b>
                        </h6>
                    </div>
                </div>
                <div class="card bg-color-two p-2 hover-white-highlight-for-click" style="">
                    <div class="m-4">
                        <img src="/image-static/machine-learning.svg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center">
                            <b>Machine Learning</b>
                        </h6>
                    </div>
                </div>
                <div class="card bg-color-two p-2 hover-white-highlight-for-click" style="">
                    <div class="m-4">
                        <img src="/image-static/machine-learning.svg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center">
                            <b>Technology</b>
                        </h6>
                    </div>
                </div>
                <div class="card bg-color-two p-2 hover-white-highlight-for-click" style="">
                    <div class="m-4">
                        <img src="/image-static/machine-learning.svg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center">
                            <b>Machine Learning</b>
                        </h6>
                    </div>
                </div>
                <div class="card bg-color-two p-2 hover-white-highlight-for-click" style="">
                    <div class="m-4">
                        <img src="/image-static/machine-learning.svg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center">
                            <b>Technology</b>
                        </h6>
                    </div>
                </div>

                
            </div>
            <!-- FOOTER DIV  -->
              <!-- Modal -->
            <div id="new_category_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <!-- background m3 -->
                        <div class="m-3">
                            <h3 class="text-center">
                                Category
                            </h3>
                            <div class="form-group">
                                <label >Name</label>
                                <input type="email" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label >Image</label>
                                <div class="custom-file">

                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="m-3 d-flex justify-content-center ">
                                <div class="border w-50 bg-color-two " style="height: 15vh;"></div>
                            </div>
                        </div>
                        <!-- background m3 -->
                    </div>
                </div>
            </div>
            <!-- Modal -->
         

        </div>
        <!--  END CONTENT-->
        <div  layout:fragment="content-js">
            <!-- Script -->
               <script>
                $(".hover-white-highlight-for-click,#new_category").on("click",function(){
                    console.log(`hjashdijasidjsai`)
                        $('#new_category_modal').modal('toggle');
                        $('#new_category_modal').modal('show');
                    })
            
            
            </script>
            <!-- Script -->
        </div>
    </body>
</html>