<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{admin-layout}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div class="content  p-5" layout:fragment="content">
            <style>
            body{
                background-color: #fff !important;
            }
            .hover-highlight-for-click{
                    transition: box-shadow .3s;
                }
            .hover-highlight-for-click:hover{
            
            
                box-shadow: 05px 10px 18px rgba(33,33,33,.2); 
            }
            .hover-white-highlight-for-click:hover{
            
            background-color: #fff;
            box-shadow: 05px 10px 18px rgba(33,33,33,.2); 
            }
            .card{
                width: 13%;
                margin-bottom: 2%;
            }
            @media only screen and (max-width: 992px) {
               .card{ 
                   width: 30%;
               }
            }
            </style>
            <!-- UPPER DIV -->
            <div class="d-flex align-items-center justify-content-around bg-color-two right-side-bar-upper-div" style="height: 40vh;">
                <div class="h-50 align-items-center">
                    <h1 class="my-3">
                        <b>Category List</b>
                        <br>
                        KhmerHowTo
                    </h1>
                    <input type="text" class="form-control-one-line  my-2  " id="category_search" placeholder="  find your category">
                </div>
                <div class="p-3 text-center hover-highlight-for-click" id="new_category">
                    <img src="/icon/article-v1.svg" class="card-img-top text-center" style="max-width: 150px;" alt="...">
                    <div class="d-flex justify-content-around">
                       <div class="rounded-circle bg-success text-white w-25" ><span  style="font-size: 25px;">+</span></div>
                       <span class="align-self-center">
                            Insert Category
                        </span>
                    </div>
                    
                </div>
            </div>
            <!-- UPPER DIV -->
            <!-- MIDDLE Div -->
            <div class="d-flex  justify-content-between my-4">
                <h3>Category</h3>
                <!-- <a href="#">See more</a> -->
            </div>
            <!-- MIDDLE Div -->
            <!-- FOOTER DIV  -->
            <div class="d-flex flex-wrap justify-content-around ">
               <!-- ON DYNASMIC  -->
                
                <div th:each="category:${categories}" class="card bg-color-two hover-white-highlight-for-click category-card" th:data-id="${category.id}" style="">
                    <div class="m-4">
                        <img th:src="${category.image}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body p-1">
                        <h6 class="card-title text-center">
                            <b class="category-name" th:text="${category.name}">Machine Learning</b>
                        </h6>
                    </div>
                </div>
                 
     
               
                
            </div>
            <!-- FOOTER DIV  -->
              <!-- Modal -->
            <div id="new_category_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <!-- background m3 -->
                        <div class="m-3">
                            <h3 class="text-center">
                                Category
                            </h3>
                            <div class="form-group">
                                <label >Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="modal_name_input">
                            </div>
                            <div class="form-group">
                                <label >Image</label>
                                <div class="custom-file">

                                    <input type="file" class="custom-file-input" id="modal_file_input">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="m-3 d-flex justify-content-center ">
                                <div class="border w-50 bg-color-two " style="height: 15vh;" >
                                    <img class="mw-100" src="" alt="" style="" id="modal_img_show"> 
                                </div>
                            </div>
                        </div>
                        <!-- background m3 -->
                        <div class="modal-footer d-flex justify-content-around">
                            <button class="btn btn-danger float-left">Remove</button>
                            <button class="btn btn-primary text-center" data-id="0" id="modal_save">Save</button>
                        </div>
                    </div>
                   
                </div>
            </div>
            <!-- Modal -->
         

        </div>
        <!--  END CONTENT-->
        <div  layout:fragment="content-js">
            <!-- Script -->
               <script>
                const fetch_category_by_id = (uri) => {

                    fetch(uri)
                    .then(res=> res.json())
                    .then(json => {
                      
                        let category = json;
                        convert_category_to_modal(category)
                    })
                    .catch(err => console.log(Error))
                } 

                const convert_category_to_modal = (category) => {
                    if(category == null){
                        $("#modal_name_input").val("default");
                        $("#modal_file_input").val("hahah");
                        $("#modal_img_show").attr("src","")
                        $("#modal_img_show").parent().addClass("bg-color-two")
                        // $("#modal_img_show").p
                    }else{
                        $("#modal_save").attr("data-id",category.id)
                        $("#modal_name_input").val(category.name)
                        $("#modal_file_input").val("")
                        $("#modal_img_show").parent().removeClass("bg-color-two")
                        $("#modal_img_show").attr("src",category.image)
                    }
                   
                }
                
                // fetch_category_by_id("/categories/6");
                
                $(document).on('click','.category-card', function () {
                    let card_id = $(this).attr("data-id");
                    fetch_category_by_id(`/api/categories/${card_id}`);
                });

                const post_new_category = async (uri,data=null) => {
                    if (data==null) {
                        return ;
                    }
                    const rawResponse = await fetch(uri, {
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });
                        const content = await rawResponse.json();

                        let name = content.name
                        // console.log(content);
                        location.reload();
                        return name;
                        /*return as promise */
                }

                const update_category = async (uri,data=null) => {
                    if (data==null) {
                        return ;
                    }
                    const rawResponse = await fetch(uri, {
                        method: 'PUT',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });
                        const content = await rawResponse.json();

                        console.log(content);
                }


                let category =  
                    {	
                        "id" : 5,
	                    "name" : "content-v10",
	                    "image" : "/icon/content.svg", 
	                    "description" : "hahaha",
                        "status" : true
                    }
                //update_category("/api/categories/5",category)    
                //post_new_category("/api/categories", category)
                // const upload_image = (file) =>  {
                //     let _promise = upload_process(file);
                //     var _return_result;
                //     if(_promise ==null){
                //         alert("upload fail")
                //     }else{
                       
                //         _promise.then(res => _return_result = res)
                //         // return _promise.then(res => res);
                //         console.log(_return_result)
                //         return _return_result;
                //     }
                // }

                  /*return as promise if fail return null */
                const upload_process =async (file) => {

                        let _f_data = new FormData();
                        _f_data.append('file',file);

                        const _response = await fetch(`/upload`, {
                            method: 'post',
                            body: _f_data,
                        })

                        const _image_obj = await _response.json();

                        if(_image_obj.status == true ){
                            return _image_obj;
                             
                        }else{
                            return null;
                        }
                    }
               
                $("#modal_save").on("click",function(){
                    let _id = $(this).attr("data-id")
                    console.log(_id)
                    return;
                    let _promise = upload_process( $("#modal_file_input")[0].files[0])
                    if(_promise ==null){
                      
                    }else{
                       
                        _promise.then(json => {
                            let _category = {
                                            "name" : $("#modal_name_input").val(),
                                            "image" : "/images/"+json.Data,
                                            "description" : "none"
                                        }
                            post_new_category('/api/categories',_category);            

                        })
                       
                    }
                 
                })
                jQuery.expr[':'].icontains = function(a, i, m) {
                    return jQuery(a).text().toUpperCase()
                    .indexOf(m[3].toUpperCase()) >= 0;
                };

                $("#category_search").on('input',function(){
                    $('.category-card').addClass('d-none');
                    let val = $(this).val()
                    $(".category-name:icontains("+val+")").parents('.category-card').removeClass('d-none')
                })
                /**SIMPLE EVENT **/
                $(".hover-white-highlight-for-click,#new_category").on("click",function(){
                   
                   $('#new_category_modal').modal('toggle');
                   $('#new_category_modal').modal('show');
               })
               
               $('#new_category_modal').on('hidden.bs.modal',function(){
                     $("#modal_save").attr("data-id",0);
                     $("#modal_img_show").attr("src","");
               });
               function readURL(input) {
                    if (input.files && input.files[0]) {
                        let reader = new FileReader();
                        reader.onload = function (e) {
                            // $('#img-preview').attr('src', e.target.result);
                            $("#modal_img_show").attr("src", e.target.result)
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#modal_file_input").change(function () {
                    readURL(this);
                });
                /**SIMPLE EVENT **/
            </script>
            <!-- Script -->
        </div>
    </body>
</html>