<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{home-layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src=""></script>
 </head>

<body>

<div layout:fragment="content"
     class="container pr-md-5 pr-sm-4 pr-3 pr-xl-5 pr-lg-5 pl-md-5 pl-sm-4 pl-3 pl-lg-5 pl-xl-5 pt-md-5 pt-sm-4 pt-3 pt-lg-5"
     style="background-color: rgb(255, 255, 255);">
    <style>
        body {
            background-color: rgb(255, 255, 255) !important;
        }

        .row {
            margin-bottom: 15px;
        }

        .point {
            cursor: pointer;
        }

        .card-hover .reveal {
            visibility: hidden;
            opacity: 0;
            height: 0;
            padding: 0;
        }

        /* .maTooltip {
            opacity: 1.8 !important;
        } */
        .maTooltip-contents {
            padding: 0%;
            border: none;
        }

        .card-hover:hover .reveal {
            height: auto;
            visibility: visible;
            opacity: 10;
            transition: opacity 1s ease;
        }

        .avatar {
            border: 0.3rem solid rgba(#fff, 0.3);
            margin-top: -6rem;
            margin-bottom: 1rem;
            max-width: 9rem;
        }
        .article_object_list:hover{
            cursor: pointer;
            background-color: #e5eaed;
        }
        .body-text{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                /* padding : 1% 0%; */
                margin-bottom: 2%;
            }
    </style>
    <link rel="stylesheet" href="../css/maTooltip.css">
    <div class="row">
        <div class="col-12">
            <p class="head-size font-weight-bold" id="tt" style="color: #46464e;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- <div class="container-fluid"> -->
            <div class="row" style="margin-bottom: 23px;">
                <div class="col-2 col-sm-2 col-md-2  col-lg-1 pl-2 pl-sm-2 pl-lg-2  " id="pfpic"
                     style="  padding-left: 0; text-align: right; margin-bottom: 23px;">
                    <!-- <img src="" alt=""> -->
                    <img class=" rounded-circle z-depth-2 myButton point mr-sm-3 "
                         style="  width: 60px; height: 60px;" alt="100x100"
                         id="ownerImg"
                         src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                         data-holder-rendered="true">

                </div>

                <div class="col-6 col-sm-4 col-md-3 col-lg-3" style="padding-left: 0;">

                    <div class="container ml-0 pt-1" style="display: flow-root">
                        <div class="row mb-0 pl-3 pl-sm-0 pl-dm-0 pl-lg-0">
                            <!-- <input  type="button" value="Click me!"> -->
                            <div class="col-12 pl-0 ">
                                        <span id="myButton" style="color: #46464e;" bio="" location=""
                                              class="point myButton"
                                              data-toggle="tooltip" data-html="true"> Kong Pengsea</span>
                            </div>
                            <span id="time" class="content-timestamp"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-sm-4 col-md-5 col-lg-6"></div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 pr-0">
                    <table style="float: right; margin-top: 3%;">
                        <tr>
                            <td class="p-1 point"><img onclick="printContent()" style="max-width: 31px;color: #46464e;"
                                                       src="/icon/print.svg" alt="">
                            </td>

                            <td class="p-1 point"><img onclick="setSrc()" style="max-width: 30px;color: #46464e;"
                                                       src="/icon/facebook.svg" alt=""></td>
                            <td class=" point"> <img style="max-width: 30px; margin-left: 2.6px; " src="/icon/d.svg"
                                                     alt="" onclick="" data-toggle="modal" data-target="#feedbackModal" data-whatever="@mdo">

                            </td>

                                <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>

                                                    <div class="form-group">
                                                        <label for="feedback-message" class="col-form-label mb-2" >Your Message</label>

                                                        <textarea class="form-control" id="feedback-message"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sendFeedback()">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="bContent"></div>

            </div>
            <div class="row " style="   margin-top: 2%;">
                <div class="col-1 pr-0 col-md-1 col-lg-1 pl-lg-3 point" sec:authorize="isAuthenticated()">
                    <th:block th:if="${liked}=='1'">
                        <img onclick="UnLikeContent()"  src="/icon/firework.svg" id="like_button"  style="width: 28px; " alt="">
                        <img onclick="LikeContent()"   src="/icon/fireworkunfill.svg" class="d-none" id="unlike_button" style="width: 28px; " alt="">
                    </th:block>

                    <th:block  th:if="${liked}=='0'" >
                        <img onclick="UnLikeContent()"  src="/icon/firework.svg" id="like_button" class="d-none"  style="width: 28px;  " alt="">
                        <img onclick="LikeContent()" src="/icon/fireworkunfill.svg" id="unlike_button" style="width: 28px;  " alt="">
                    </th:block>

                </div>
                <div class="col-1 col-md-1 col-lg-1  my-auto pl-1 pl-md-0 pl-lg-0" style=" " sec:authorize="isAuthenticated()">
                    <span id="likeNum" class="pb-3 " th:text=${like}></span>
                </div>
                <div class="col-10 col-md-10 col-lg-10">
                    <div id="category"
                         style="padding: 6px;display: inline;border-radius: 4px;  background-color:rgb(251, 248, 248);">
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top: 3%; margin-left: 0;; margin-bottom: 3%;  ">
                <div class="col-4 col-sm-6 col-md-4 col-lg-2 pl-0"
                     style="border-bottom: 3px solid rgb(9, 190, 235);">
                    <span id="nCmt" th:text=${totalCmt}></span> Comments
                </div>
                <div class="col-8 col-sm-6 col-md-8 col-lg-10"
                     style="border-bottom: 3px solid rgb(217, 217, 226);">
                </div>

            </div>
            <div class="row" style="    margin-bottom: 2%;" sec:authorize="isAuthenticated()">
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 pl-0" style=" text-align: right;">
                    <!-- <img src="" alt=""> -->
                    <img class=" rounded-circle z-depth-2" style="width: 80px; width: 60px; height: 60px;"
                         alt="100x100" th:src=${currentUser.getProfilePicture()}
                         data-holder-rendered="true">

                </div>
                <div class="col-10 col-sm-10 col-md-11 col-lg-11 pr-0 pl-0 my-auto">
                    <div class="form-group my-auto">
                        <input type="email" class="form-control" id="commentInp" placeholder="Comment">
                    </div>
                    <!--  <input style="width: -webkit-fill-available;" placeholder="comment" type="text" name="" id="">-->
                </div>

            </div>

            <div class="row" style="border-bottom: 1px solid #dadada;">
                <div class="ml-3 mr-0 container-fluid">

                    <div class="row">
                        <div class="col-12">

                            <div class="container-fluid" id="cmt" style="margin-top: -8px;">
                                <div class="row"></div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-1 col-sm-3 col-md-3"></div>
                        <div class="col-10 col-sm-6 col-md-6" style="text-align: center; margin-bottom: 4%;">
                            <button type="button" class="btn  w-auto btn-primary btn-block" id="showCmt"
                                    style="border-radius: 30px; margin-left: 25%;">Show More Comments
                            </button>
                        </div>
                        <div class="col-1 col-sm-3 col-md-3"></div>
                    </div>

                </div>
            </div>
        </div>

        <!-- </div> -->
    </div>


   <div class="recomment-div" th:if="${RECOMMEND_ARTICLE != null}">
        <div class="row" style=" margin-left: 1px;">
            <h4>អត្ថបទដែលគួរអាន</h4>

        </div>
        <div th:each=" article : ${RECOMMEND_ARTICLE}" th:object="${article}" class="article_object_list row" style=" margin-left: 1px;" th:onclick="'onClickRedirectTo('+*{id}+')'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0">
                        <img class="img-fluid z-depth-2" style="width: 200px; height: 120px; border-radius: 4px;"
                            th:src="*{thumbnail}"
                            data-holder-rendered="true">
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="color: #46464e;margin-top: 0;" th:text="*{title}">Lorem ipsum, dolor sit amet consectetur </h5>
                                <div class="body-text" th:text="*{body}"></div>
                            </div>
                            <div class="row">
                                <div class="col-12" style="position: relative;width: max-content;position: absolute;right: 0px;bottom: 0px;
                                    float: right;">
                                    <a th:href="'/detail/'+*{id}" style="font-size: smaller; text-decoration: none;">see more >
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row d-none" style=" margin-left: 1px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0">
                        <img class="img-fluid z-depth-2" style="width: 200px; height: 120px; border-radius: 4px;"
                            src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                            data-holder-rendered="true">
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="color: #46464e;margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col-12" style="position: relative;width: max-content;position: absolute;right: 0px;bottom: 0px;
                                    float: right;">
                                    <a href="" style="font-size: smaller; text-decoration: none;">see more >
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row  d-none" style=" margin-left:1px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0">
                        <img class="img-fluid z-depth-2" style=" border-radius: 4px;"
                                                    src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                                                    data-holder-rendered="true">
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="color: #46464e;margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium
                                tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi
                                necessitatibus,
                            </div>
                            <div class="row">
                                <div class="col-12" style="position: relative;width: max-content;position: absolute;right: 0px;bottom: 0px;
                                    float: right;">
                                    <a href="" style="font-size: smaller; text-decoration: none;">see more >
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row d-none" style=" margin-left: 1px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"><img class="img-fluid z-depth-2" style=" border-radius: 4px;"
                                                    src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                                                    data-holder-rendered="true">
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0" style="color:  #46464e;">
                                <h5 style="color: #46464e;margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium
                                tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi
                                necessitatibus,
                            </div>
                            <div class="row">
                                <div class="col-12" style="position: relative;width: max-content;position: absolute;right: 0px;bottom: 0px;
                                    float: right;">
                                    <a href="" style="font-size: smaller; text-decoration: none;">see more >
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
   </div>

    <iframe id="share_to_fb" src="https://www.facebook.com/plugins/share_button.php?href=http://news.sabay.com.kh/article/1188282#utm_campaign=onpage&layout=button&size=large&appId=1242809985886635&width=77&height=28" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>

<div layout:fragment="content-js">
    <script src="/js/es6-promise.auto.min.js"></script>
    <script src="/pdf/jspdf.min.js"></script>
    <script src="/js/html2canvas.min.js"></script>
    <script src="/js/html2pdf.js"></script>
    <script>
        function addScript(url) {
            var script = document.createElement('script');
            script.type = 'application/javascript';
            script.src = url;
            document.head.appendChild(script);
        }
        addScript('https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js');
        const printContent = () => {
            /*
            var doc = new jsPDF();
            var elementHandler = {
                '#ignorePDF': function (element, renderer) {
                    return true;
                }
            };
            // doc.text('Hello world!', 10, 10)
            
            let _body = document.getElementById("bContent").innerHTML
            
            console.log(_body)
            doc.fromHTML(`<h3 class="text-center">${_title}</h3><br><br>`+ _body.replace(/<img[^>]*>/g,""),
            15,
            15,
            {
                'width': 180,'elementHandlers': elementHandler
            });
            doc.save(`${_title}.pdf`)
            */
            var opt = {
                margin:       1,
                filename:     'myfile.pdf',
                image:        { type: 'jpeg', quality: 0.98 },
                html2canvas:  { scale: 2 },
                jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
            }
            var element = document.getElementById('bContent');
            var work = html2pdf().set(opt).from(element).save();
        }
        function setSrc(){
            var url=document.URL;
            $('#share_to_fb').attr('src',"https://www.facebook.com/plugins/share_button.php?href="+url+"&layout=button&size=large&appId=1242809985886635&width=77&height=28");
            $('._2tga ').click();
        }
    </script>
    <script>
        var articleId = window.location.pathname;

        // Document ready function


        $(document).ready(function () {


            /*
            * request content
            * append to body of div
            * */
            $.ajax({
                type: 'GET',
                url: '/api/contents/[[${id}]]',
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data)
                    $('#bContent').append(data["body"]);
                    $('#myButton').text(data["user"].name);
                    $('#ownerImg').attr('src', data["user"].profilePicture);

                    /*
                    * set title
                    * */
                    $('#tt').html(data["title"]);
                    /*
                    * set category name
                    * */
                    $('#category').html(data.category.name);
                    //set timestamp
                    $('#time').html(data["timestamp"])


                    var locate = data["user"].location //getter
                    var bio = data["user"].bio;
                    var src = data["user"].profilePicture;
                    var name = data["user"].name;
                    var button = $('#myButton');
                    /*
                    * instance obj tooltip to display when hover on name and profile picture
                    * */
                    var tooltip = new maTooltip(button, {
                        inline_style: 'max-width: none;',
                        full_visibility_duration: 31000,
                        position: maTooltip.POSITION.BOTTOM,
                        static_message: `<div style="background-color: white; color: black; border-radius: inherit;"><div>  <img class="img-fluid rounded-circle z-depth-2" style="width: 60px; height: 60px; min-height: 40px; min-width: 40px;" alt="100x100" src=${src} data-holder-rendered="true"></div><h3>${name}</h3><p>${locate}</p><p>${bio}</p><hr><div style="height: 32px;border-radius: inherit;background-color: white; color: black;"><a href="" style="margin-left: 20px;margin-right: 20px ">Favorite Category</a><a style="margin-left: 20px;margin-right: 20px " href="">Education</a><a href="" style="margin-left: 20px;margin-right: 20px ">Technology</a></div></div>`
                    });
                    //to show tooltip on hover
                    button.hover(function () {
                        tooltip.show();
                    });
                    //to hide on mouse out
                    button.mouseout('click', function () {
                        tooltip.hide();
                    });
                    //on pf pic
                    $("#pfpic").hover(function () {
                        tooltip.show();
                    })
                    $("#pfpic").mouseout(function () {
                        tooltip.hide();
                    })

                    //call function on page 0 -> first load
                    showComment(0)
                },
                error: function (data) {
                    console.log(data)
                }

            });
        })
        //To comment on article
        $("#commentInp").on('keypress', function (e) {

            var obj = {
                "user":{
                    "id": [[${currentUser.getId()}]]
                },
                "text": $("#commentInp").val(),
                "content": {
                    "id": [[${id}]]
                }
            }
            if (e.which == 13) {
                if ($("#commentInp").val() == "") {

                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '/api/comments',
                    data: JSON.stringify(obj),
                    success: function (data) {

                        $("#cmt").prepend(`
                                <div class="row" style=" margin-left: 0;">
                                        <div class="col-2 col-sm-2 col-md-1  pr-0">
                                            <img class=" rounded-circle z-depth-2"
                                                style="width: 80px; width: 60px; height: 60px; float: right;" alt="100x100" src= [[${currentUser.getProfilePicture()}]]
                                                data-holder-rendered="true">
                                        </div>
                                        <div class="col-10 col-sm-10 col-md-11">
                                            <div class="container-fluid ml-0 pr-0 mr-0">
                                                <div class="row">
                                                    <span style="color: #07D" >[[${currentUser.getName()}]] </span>
                                                    <span style="color: #918989; font-size: 12px; padding-top: 4px;" >
                                                        &nbsp;&nbsp;&nbsp;&#8226;<span class="content-timestamp">`+data.timestamp+`</span> </span>
                                                </div>
                                            <div class="row" style="color: #46464e; margin-top: -8px;" id="cmt">` +
                                                      $("#commentInp").val() + `
                                                </div>
                                            </div>
                                        </div>
                                </div>

                `);
                        convertTimeToFormat();
                        $("#commentInp").val("");
                    },
                    error: function (data) {
                        console.log(data)
                    },
                    contentType: "application/json"
                });

                //increase number of cmt
                $('#nCmt').html(parseInt($("#nCmt").text()) + 1);
            }
        });

        //show comment by page
        function showComment(page) {
            $.ajax({
                type: 'GET',
                url: '/api/comments/search/findAllBycontentIdOrderById?id=' + [[${id}]] + '&page=' + page + '&size=3',
                contentType: false,
                processData: false,
                success: function (data) {
                 console.log(data)
                    if(data['_embedded'].comments.length<3){
                        $("#showCmt").css("display", "none");
                    }

                    for (var i = 0; i < data['_embedded'].comments.length; i++) {

                        $("#cmt").append(`

                                <div class="row" style=" margin-left: 0;">
                                        <div class="col-2 col-sm-2 col-md-1  pr-0">
                                            <img class=" rounded-circle z-depth-2"
                                                style="width: 80px; width: 60px; height: 60px; float: right;" alt="100x100"
                                                src=${data['_embedded'].comments[i].user.profilePicture}
                                                data-holder-rendered="true">
                                        </div>
                                        <div class="col-10 col-sm-10 col-md-11">
                                            <div class="container-fluid ml-0 pr-0 mr-0">
                                                <div class="row">
                                                   <span style="color: #07D">` + data['_embedded'].comments[i].user.name + `</span>
                                                    <span style="color: #918989; font-size: 12px; padding-top: 4px;"  >
                                                        &nbsp;&nbsp;&nbsp;&#8226;<span class="content-timestamp">`+data['_embedded'].comments[i].timestamp+`</span></span>
                                                </div>
                                            <div class="row" style="color: #46464e;margin-top: -8px;" id="cmt" >` +
                            data['_embedded'].comments[i].text + `
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                        `)
                        //call method to convert time
                        convertTimeToFormat()
                    }

                    //to hide button show more comment
                    if (data.page.totalPages - 1 == page) {

                        $("#showCmt").css("display", "none");
                    }
                    var p = parseInt(page) +1;
                    $("#showCmt").attr('onClick', 'showComment(' + p + ')');

                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                }
            });

        }

        //unlike the content
        function UnLikeContent() {
            $.ajax({
                type: "GET",
                url: `/api/interesteds/search/deleteByuserIdAndContentId?u_id=`+[[${currentUser.getId()}]] +`&c_id=`+[[${id}]],
                contentType: false,
                processData: false,
                success: function (data) {
                     console.log(data);
                     $('#like_button').addClass("d-none");
                     $('#unlike_button').removeClass("d-none");
                     $("#likeNum").text(parseInt($('#likeNum').text()) - 1)
                },
                error: function (data) {
                    console.log(data);
                },

            });

        }
        //to like content
        function LikeContent() {

            var obj = {

                "content": {
                    "id": [[${id}]]
                },
                "user":{
                    "id": [[${currentUser.getId()}]]
                }
            }
                $.ajax({
                    type: "POST",
                    url: '/api/interesteds',
                    data: JSON.stringify(obj),
                    success: function (data) {
                        $('#unlike_button').addClass("d-none");
                        $('#like_button').removeClass("d-none");
                        $("#likeNum").text(parseInt($('#likeNum').text()) + 1)
                    },
                    error: function (data) {
                        console.log(data)
                    },
                    contentType: "application/json"
                });

            }

            //send feedback
            function sendFeedback(){
                        var feedbackText = $("#feedback-message").val();
                        // alert(feedbackText);

                var feedback={
                    "text": feedbackText,
                    "status": 1,
                    "user":{
                        "id": [[${currentUser.getId()}]]
                    },
                    "content":{
                        "id": [[${id}]]
                    }
                }
                $.ajax({
                    type: "POST",
                    url: '/api/feedbacks',
                    data: JSON.stringify(feedback),
                    success: function (data) {
                        console.log("successfully send feedback")
                    },
                    error: function (data) {
                        console.log(data)
                    },
                    contentType: "application/json"
                });

            }

            const onClickRedirectTo= (x) => {
                location.href = `/detail/${x}`;
            }


    </script>
</div>

</body>


</html>
