<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{home-layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src=""></script>
</head>

<body>

    <div layout:fragment="content"
        class="container pr-md-5 pr-sm-4 pr-3 pr-xl-5 pr-lg-5 pl-md-5 pl-sm-4 pl-3 pl-lg-5 pl-xl-5 pt-md-5 pt-sm-4 pt-3 pt-lg-5"
        style="background-color: rgb(255, 255, 255);">
        <style>
            body {
                background-color: rgb(255, 255, 255) !important;
            }

            .row {
                margin-bottom: 15px;
            }

            .point {
                cursor: pointer;
            }

            .card-hover .reveal {
                visibility: hidden;
                opacity: 0;
                height: 0;
                padding: 0;
            }

            /* .maTooltip {
                opacity: 1.8 !important;
            } */
            .maTooltip-contents {
                padding: 0%;
                border: none;
            }

            .card-hover:hover .reveal {
                height: auto;
                visibility: visible;
                opacity: 10;
                transition: opacity 1s ease;
            }

            .avatar {
                border: 0.3rem solid rgba(#fff, 0.3);
                margin-top: -6rem;
                margin-bottom: 1rem;
                max-width: 9rem;
            }

        </style>
        <link rel="stylesheet" href="css/maTooltip.css">
        <div class="row">
            <div class="col-12">
                <p class="head-size font-weight-bold" style="color: #46464e;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: 23px;">
                        <div class="col-2 col-sm-2 col-md-1 col-lg-1 pl-0"
                            style="  padding-left: 0; text-align: right; margin-bottom: 23px;">
                            <!-- <img src="" alt=""> -->
                            <img class=" rounded-circle z-depth-2 myButton point" id="pfpic"
                                style="width: 80px; width: 50px; height: 50px;" alt="100x100"
                                src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                                data-holder-rendered="true">

                        </div>

                        <div class="col-8 col-sm-8 col-md-9 col-lg-9" style="padding-left: 0;">

                            <div class="container ml-0 pt-1">
                                <div class="row mb-0">
                                    <!-- <input  type="button" value="Click me!"> -->
                                    <div class="col-12 pl-0">
                                        <span id="myButton" style="color: #46464e;" class="point myButton"
                                            data-toggle="tooltip" data-html="true"> Kong Pengsea</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 pl-0" style="color: #948383; font-size: 14px;">16-Sep-1998</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 pr-0">
                            <table style="float: right; margin-top: 17%;">
                                <tr>
                                    <td class="p-1 point"> <img style="max-width: 31px;color: #46464e;"
                                            src="img/print.svg" alt="">
                                    </td>

                                    <td class="p-1 point"><img style="max-width: 30px;color: #46464e;"
                                            src="img/facebook.svg" alt=""></td>
                                    <td class=" point"> <img style="max-width: 38px;opacity: 0.7;"
                                            src="img/report.png" alt="">

                                </tr>
                            </table>


                        </div>
                    </div>

                    <div class="row">
                        <img class="vh-90 w-100" src="img/960x0.jpg" alt="">
                    </div>
                    <div class="row">

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, nam assumenda, animi
                            tenetur
                            adipisci voluptatem corporis qui officiis voluptas accusamus sunt, quos mollitia quod? Unde
                            quis
                            est harum officia architecto.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officiis sapiente? Non,
                            minus quis! Velit dignissimos doloremque magni dolorem sed similique, molestias quae rem
                            ipsam,
                            odio aspernatur accusamus itaque rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam beatae omnis
                            minus
                            expedita, at voluptatum debitis soluta corrupti aperiam reiciendis vero ducimus maiores,
                            animi
                            odit culpa minima magnam iure.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, nam assumenda, animi
                            tenetur
                            adipisci voluptatem corporis qui officiis voluptas accusamus sunt, quos mollitia quod? Unde
                            quis
                            est harum officia architecto.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officiis sapiente? Non,
                            minus quis! Velit dignissimos doloremque magni dolorem sed similique, molestias quae rem
                            ipsam,
                            odio aspernatur accusamus itaque rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam beatae omnis
                            minus
                            expedita, at voluptatum debitis soluta corrupti aperiam reiciendis vero ducimus maiores,
                            animi
                            odit culpa minima magnam iure.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, nam assumenda, animi
                            tenetur
                            adipisci voluptatem corporis qui officiis voluptas accusamus sunt, quos mollitia quod? Unde
                            quis
                            est harum officia architecto.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officiis sapiente? Non,
                            minus quis! Velit dignissimos doloremque magni dolorem sed similique, molestias quae rem
                            ipsam,
                            odio aspernatur accusamus itaque rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam beatae omnis
                            minus
                            expedita, at voluptatum debitis soluta corrupti aperiam reiciendis vero ducimus maiores,
                            animi
                            odit culpa minima magnam iure.</p>

                    </div>
                    <div class="row " style="margin-left: -6%;  margin-top: 2%;">
                        <div class="col-1 pr-0 point">

                            <!-- <div class="my-auto ">  -->
                            <i class="material-icons-new outline-favorite_border"
                                style="float: right;width: 26px; height: 22px;">

                            </i>

                            <!-- </div>  -->

                        </div>
                        <div class="col-1 pl-0 my-auto"> <span class="pb-3">309</span></div>
                        <div class="col-10 ">
                            <div
                                style="padding: 6px;display: inline;border-radius: 4px;  background-color: rgb(251, 251, 251)">
                                Programing</div>

                        </div>
                    </div>
                    <div class="row" style="margin-top: 3%; margin-bottom: 3%;">
                        <div class="col-4 col-sm-6 col-md-4 col-lg-2 pl-0"
                            style="border-bottom: 3px solid rgb(9, 190, 235);">
                            5 Comments</div>
                        <div class="col-8 col-sm-6 col-md-8 col-lg-10"
                            style="border-bottom: 3px solid rgb(217, 217, 226);">
                        </div>

                    </div>
                    <div class="row" style="    margin-bottom: 2%;">
                        <div class="col-2 col-sm-2 col-md-1 col-lg-1 pl-0" style=" text-align: right;">
                            <!-- <img src="" alt=""> -->
                            <img class=" rounded-circle z-depth-2" style="width: 80px; width: 50px; height: 50px;"
                                alt="100x100" src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                                data-holder-rendered="true">

                        </div>
                        <div class="col-10 col-sm-10 col-md-11 col-lg-11 pr-0 pl-0 my-auto">
                            <div class="form-group my-auto">
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Comment">
                            </div>
                            <!--  <input style="width: -webkit-fill-available;" placeholder="comment" type="text" name="" id="">-->
                        </div>
                    </div>

                    <div class="row" style="border-bottom: 1px solid #dadada;">
                        <div class="ml-3 mr-0 container-fluid">
                            <div class="row" style=" margin-left: 2%;">
                                <div class="col-2 col-sm-2 col-md-1  pr-0"> <img
                                        class=" rounded-circle z-depth-2"
                                        style="width: 80px; width: 50px; height: 50px; float: right;" alt="100x100"
                                        src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                                        data-holder-rendered="true">
                                </div>
                                <div class="col-10 col-sm-10 col-md-11">
                                    <div class="container-fluid ml-0 pr-0 mr-0">
                                        <div class="row">
                                            <span style="color: #07D">kong pengsea</span>
                                            <span style="color: #918989; font-size: 12px; padding-top: 4px;"> &nbsp;&nbsp;&nbsp;&#8226; 22 days ago</span>
                                        </div>
                                        <div class="row" style="color: #46464e;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente illum
                                            expedita sed possimus tempora odit at voluptas, ea odio. Perspiciatis facere
                                            ipsam aut deserunt quasi at neque alias dignissimos!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style=" margin-left: 2%;">
                                <div class="col-2 col-sm-2 col-md-1  pr-0">
                                    <img class=" rounded-circle z-depth-2"
                                        style=" float: right;width: 80px; width: 50px; height: 50px;" alt="100x100"
                                        src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                                        data-holder-rendered="true">
                                </div>
                                <div class="col-10 col-sm-10 col-md-11">
                                    <div class="container-fluid ml-0 pr-0 mr-0">
                                        <div class="row">
                                            <span style="color: #07D">kong pengsea</span>
                                            <span style="color: #948383; font-size: 12px; padding-top: 4px;"> &nbsp;&nbsp;&nbsp;&#8226; 22 days ago</span>
                                        </div>
                                        <div class="row" style="color: #46464e;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente illum
                                            expedita sed possimus tempora odit at voluptas, ea odio. Perspiciatis facere
                                            ipsam aut deserunt quasi at neque alias dignissimos!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style=" margin-left: 2%;">
                                <div class="col-2 col-sm-2 col-md-1  pr-0"> <img
                                        class=" rounded-circle z-depth-2"
                                        style="float: right;width: 80px; width: 50px; height: 50px;" alt="100x100"
                                        src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg"
                                        data-holder-rendered="true">
                                </div>
                                <div class="col-10 col-sm-10 col-md-11">
                                    <div class="container-fluid ml-0 pr-0 mr-0">
                                        <div class="row">
                                            <span style="color: #07D">kong pengsea</span>
                                            <span style="color: #948383; font-size: 12px; padding-top: 4px;"> &nbsp;&nbsp;&nbsp;&#8226; 22 days ago</span>
                                        </div>
                                        <div class="row" style="color: #46464e;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente illum
                                            expedita sed possimus tempora odit at voluptas, ea odio. Perspiciatis facere
                                            ipsam aut deserunt quasi at neque alias dignissimos!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 col-sm-3 col-md-3"></div>
                                <div class="col-10 col-sm-6 col-md-6" style="text-align: center; margin-bottom: 4%;">
                                    <button type="button" class="btn  w-auto btn-primary btn-block"
                                        style="border-radius: 30px; margin-left: 25%;">Show More Comments</button>
                                </div>
                                <div class="col-1 col-sm-3 col-md-3"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row" style=" margin-left: 1px;">
            <h4>អត្ថបទដែលគួរអាន</h4>

        </div>
        <div class="row" style=" margin-left: 1px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0">
                        <img class="img-fluid z-depth-2" style="width: 200px;"
                            src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg" data-holder-rendered="true">
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="color: #46464e;margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium
                                tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi
                                necessitatibus,
                            </div>
                            <div class="row">
                                <div class="col-12" style="position: relative;width: max-content;position: absolute;right: 0px;bottom: 0px;
                                float: right;">
                                    <a href="" style="font-size: smaller; text-decoration: none;">see more >
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row" style=" margin-left:1px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"> <img class="img-fluid z-depth-2"
                            src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg" data-holder-rendered="true">
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="color: #46464e;margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium
                                tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi
                                necessitatibus,
                            </div>
                            <div class="row">
                                <div class="col-12" style="position: relative;width: max-content;position: absolute;right: 0px;bottom: 0px;
                                float: right;">
                                    <a href="" style="font-size: smaller; text-decoration: none;">see more >
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row" style=" margin-left: 1px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"> <img class="img-fluid z-depth-2"
                            src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg" data-holder-rendered="true">
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0" style="color:  #46464e;">
                                <h5 style="color: #46464e;margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium
                                tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi
                                necessitatibus,
                            </div>
                            <div class="row">
                                <div class="col-12" style="position: relative;width: max-content;position: absolute;right: 0px;bottom: 0px;
                                float: right;">
                                    <a href="" style="font-size: smaller; text-decoration: none;">see more >
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
       
        
    </div>
  
    <div layout:fragment="content-js">
        <script>
            // Document ready function
            $(function () {
                var button = $('#myButton');
                var tooltip = new maTooltip(button, {
                    inline_style: 'max-width: none;',
                    full_visibility_duration:  99000,
                    position: maTooltip.POSITION.BOTTOM,
                    static_message: '<div style="background-color: white; color: black; border-radius: inherit;"><div>  <img class=" rounded-circle z-depth-2" style="margin-top: 20px; margin-bottom: 10px; width: 50px; height: 50px;" alt="100x100" src="https://cdn.mos.cms.futurecdn.net/xgc36EhSDW9Zu3RGLCfLEg-970-80.jpg" data-holder-rendered="true"></div><h3 style="color: #46464e">Hum Chamroeun</h3><p style="color: #46464e">From Takeo</p><p style="color: #46464e">I am so happy</p><hr><div style="height: 32px;border-radius: inherit;background-color: white; color: black;"><a href="" style="margin-left: 20px;margin-right: 20px ">Favorite Category</a><a style="margin-left: 20px;margin-right: 20px " href="">Education</a><a href="" style="margin-left: 20px;margin-right: 20px ">Technology</a></div></div>'
                });


                //  var tooltip = new maTooltip( button, {  } );
                button.hover(function () {
                    tooltip.show();
                });
                button.mouseout('click',function () {
                    tooltip.hide();
                });
                $("#pfpic").hover(function(){
                    tooltip.show();
                })
                $("#pfpic").mouseout(function(){
                    tooltip.hide();
                })
            });

        </script>
    </div>
  
</body>


</html>
