<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Hanuman|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/outline.css">

    <th:block th:include="~{fragment/__bootstrap_link}"></th:block>
    <th:block th:include="~{navbar/__navbar_admin_css}"></th:block>
    <style>
    body{
        font-family: 'Montserrat','Hanuman' ,sans-serif, serif ;
        
    }
    .bg-color-two {
        background-color: #E5EAED;
    }
    .loading-div {
            opacity: 0.7;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #470000;
            z-index: 3;
        }
    </style>
</head>
<body>
    <div th:replace="~{navbar/__admin_navbar}"></div>
    <div id="loading" class="loading-div">
        <div class="loader09"></div>
    </div>
    <div id="content_body" class="container-fluid d-none ">
        <div class="row ">
            <!-- LEFT SIDE BAR -->
            <div class="col-1 px-0 left-side-menu-div d-none d-lg-block">
                <div th:replace="~{navbar/__admin_left_side_bar}"></div>
            </div>
            <div class="col-md-12 col-lg-11 ">
                <div class="" layout:fragment="content"></div>
            </div>
        </div>  
    </div>
    <div sec:authorize="isAuthenticated()">
        <span id="isAuth" th:data-role="${#authentication.getPrincipal().getCurrentUser().getUserRole()}" class="d-none" th:text="${#authentication.getPrincipal().getCurrentUser().getLastNotificationClick()}">true</span>  
    </div>
    <th:block th:include="~{fragment/__javascript_link}"></th:block>
    <div class="" layout:fragment="content-js"></div>
    <script>
       

        $(function(){
            
           
            const _convert_current_page_string_to_number = () => {
                // if(text == null | text == ""){
                //     return -1;
                // }else{
                let text =  $("#span_current_page").text();   
                switch (text) {
                    case "home":
                        return 0;
                        break;
                    case "category":
                        return -1;
                        break;
                    case "article":
                        return 2;
                        break;
                    case "user":
                        return 3;
                        break;    
                    case "question":
                        return 4;
                    break;
                    case "feedback":
                        return 5;
                    break;
                    case "setting":
                        return 6;
                    break;
                    default:
                        return -1;
                        break;
                    }
                // }
            }   
            let _current_page_number =  _convert_current_page_string_to_number();
            if(_current_page_number > -1){
                $("#left-side-menu>li").eq(_current_page_number).addClass("bg-transparent");
            }else{
                console.log(`-1 is selected`)
            }
            getNotification()
           
    })
    const updateLastReadIfClickShowContentList = async () => {
            // let res = await fetch(`api/contents/search/findAllByOrderByIdDesc?projection=ContentNotificationProjection`, {
            let res = await fetch(`/notification/get`, {
                method: `POST`
            });
            json = await res.json();
            console.log(json)
            if(json.type == 0){
                let contents = json.body;

                contents.forEach(content => {
                    $("#notification_div_body").append(convertJsonToNotificationList(content.id, content.category.name, content.timestamp))
                })
            }else if(json.type ==1 ){
                let comments = json.body;
                comments.forEach(comment => {
                    $("#notification_div_body").append(convertAdminJsonToNotificationList(comment.content.id,comment.text,  comment.timestamp))
                    // convertAdminJsonToNotificationList
                })
            }
            
        }
        const updateLastReadIfClick = async () => {
            let json = null;
            try {
                let res = await fetch(`/user/update/lastread`, {
                    method: `POST`
                });
                json = await res.json();
                console.log(json)

            } catch (error) {
                console.log(error)
            }

        }
        const convertAdminJsonToNotificationList = (article_id,comment_body,time) => {
            return ` <a class="notifications-content" href="${article_id}">
                            <div class="notifications-item border-bottom">
                                <p class="item-title">${comment_body}</b></p>
                                <p class="item-info text-muted">${time}</p>
                            </div>

                </a>`
        }
        const numberToNotificationAmount = (amount) => {
            if (parseInt(amount) > 0) {
                $("#num_of_notification").text(amount)
            } else {

            }
        }
        var isClick = false;
        const getNotification = async () => {
            let _last_read = $("#isAuth").text();
            let _response= await fetch(`/api/comments/search/findUnreadCommentByDate?date=${_last_read}`);
            let notification_json_amount = await _response.json();
            numberToNotificationAmount(notification_json_amount)
            $("#dLabel").on('click', function () {
                if(isClick == false){
                    updateLastReadIfClickShowContentList()
                    updateLastReadIfClick();
                    isClick = true
                    $("#num_of_notification").text("")
                }
            })   
        }
        setTimeout(function(){
            $("#loading").addClass("d-none")
            $("#content_body").removeClass("d-none")
        }, 1000);
    </script>
</body>
</html>