<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Hanuman&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/outline.css">

    <th:block th:include="~{fragment/__bootstrap_link}"></th:block>
    <th:block th:include="~{navbar/__navbar_admin_css}"></th:block>
    <style>
    .bg-color-two {
        background-color: #E5EAED;
    }
    </style>
</head>
<body>
    <div th:replace="~{navbar/__admin_navbar}"></div>
    <div class="container-fluid ">
        <div class="row ">
            <!-- LEFT SIDE BAR -->
            <div class="col-1 px-0 left-side-menu-div d-none d-lg-block">
                <div th:replace="~{navbar/__admin_left_side_bar}"></div>
            </div>
            <div class="col-md-12 col-lg-11 ">
                <div class="" layout:fragment="content"></div>
            </div>
        </div>  
    </div>
   
    <th:block th:include="~{fragment/__javascript_link}"></th:block>
    <div class="" layout:fragment="content-js"></div>
    <script>
        $(function(){
            
           
            const _convert_current_page_string_to_number = () => {
                // if(text == null | text == ""){
                //     return -1;
                // }else{
                let text =  $("#span_current_page").text();   
                switch (text) {
                    case "home":
                        return 0;
                        break;
                    case "category":
                        return -1;
                        break;
                    case "article":
                        return 2;
                        break;
                    case "user":
                        return 3;
                        break;    
                    case "question":
                        return 4;
                    break;
                    case "feedback":
                        return 5;
                    break;
                    case "setting":
                        return 6;
                    break;
                    default:
                        return -1;
                        break;
                    }
                // }
            }   
            let _current_page_number =  _convert_current_page_string_to_number();
            if(_current_page_number > -1){
                $("#left-side-menu>li").eq(_current_page_number).addClass("bg-transparent");
            }else{
                console.log(`-1 is selected`)
            }
           
    })
    </script>
</body>
</html>