<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{home-layout}"
    xmlns:category="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content By Category</title>
</head>

<body>
    <div class="content bg-white" layout:fragment="content">
        <style>
            .first-carousel {
                margin-bottom : 5%;
            }

            .second-carousel {
                margin-bottom: 5%;
            }

            .third-carousel {
                margin-bottom: 5%;
            }

            .btn-circle.btn-sm {
                width: 30px;
                height: 30px;
                padding: 6px 0px;
                border-radius: 15px;
                font-size: 8px;
                text-align: center;
            }

            .previous-next-container {
                left: 300px;
            }

            .previous-btn-latest {
                bottom: 10px !important;
            }

            .next-btn-latest {
                bottom: 60px !important;
            }



            /*.left-previous{*/
            /*    right: 30px !important;*/
            /*    bottom: -390px !important;*/
            /*}*/
            /*.carousel-control-prev{*/
            /*    left: 1300px !important;*/
            /*    bottom: -390px !important;*/

            /*}*/

            .btn-round-lg {
                border-radius: 22.5px !important;
                font-size: 17px !important;
            }

            .latest-post-caption {
                bottom: 37px;
            }

            .btn-round {
                border-radius: 17px;
            }

            .btn-round-sm {
                border-radius: 15px;
            }

            .btn-round-xs {
                border-radius: 11px;
                padding-left: 10px;
                padding-right: 10px;
            }


            /*Chamroeun CSS*/
            @media only screen and (max-width: 998px) {
                .left-category {
                    display: none;
                }

                .first-card-image-category-border {
                    border-top: 0 !important;
                }

            }

            @media only screen and (min-width: 998px) {
                .top-category {
                    display: none;
                }
            }

            .latest-post {
                max-width: 50% !important;
            }


            .category-bg-color {
                background-color: #bcc1c5 !important;
            }

            .category-border-color {
                border-color: #a1aab3 !important;
            }

            .recent-popular-post-weight {
                font-weight: 400 !important;
            }

            .load-more {
                font-weight: 400 !important;
                font-size: 20px !important;
                cursor: pointer !important;
            }

            .carousel-caption {
                left: 7% !important;
            }


            .category-width {
                min-width: 225px;
            }


            .first-card-image-category {
                height: 100%;
            }

            div.scrollmenu {
                background-color: #333;
                overflow: auto;
                white-space: nowrap;
            }

            div.scrollmenu a {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px;
                text-decoration: none;
            }

            div.scrollmenu a:hover {
                background-color: #777;
            }

            .latest-category-button {
                color: #f8f9fa !important;
                border-color: #f8f9fa !important;
                font-size: 17px !important;
            }

            /*Fixed card image heigh*/








            /* New Scroll Category */
            /* End of New Scroll Category */
        </style>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">

                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" id="contt">

                    </div>


                </div>
            </div>
        </div>


        <div class="px-5">
            <!-- Scroll Category -->

            <div class="row mt-2">

                <div class="category-bg-color scrollmenu  top-category  w-100">
                    <a href="#home">Communication</a>
                    <a href="#news">Art</a>
                    <a href="#contact">Emotional State</a>
                    <a href="#about">Habits</a>
                    <a href="#support">Inspiration</a>
                    <a href="#blog">Journalling</a>
                    <a href="#tools">Leadership</a>
                    <a href="#base">Travel</a>
                    <a href="#custom">Nature</a>
                    <a href="#more">Entertainment</a>
                    <a href="#logo">Personal</a>
                    <a href="#friends">Beauty</a>
                </div>
            </div>
            <!--End of Scroll Category -->


            <!-- New Scroll Category -->


            <!-- End of New Scroll Category -->



            <!--        The row of Category and Content-->
            <div class="row mt-4">
                <!-- The beginning of Left Container (Category)  -->
                <div class="col-md-3 col-sm-12 left-category category-width">
                    <ul class="list-group">
                        <li class="list-group-item category-border-color active category-bg-color font-weight-bold ">
                            Categories</li>
                        <li class="list-group-item">

                            <div class="custom-control custom-radio mt-2" th:each="category:${categories}">
                                <a th:href=@{/category/{id}(id=${category.id})}> <!-- <input type="radio"
                                    th:id="${category.id}" name="customRadio" class="custom-control-input">-->
                                    <label th:text="${category.name}" class="custom-control-label"
                                        th:for="${category.id}">Art</label>
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- End of Left Container (Category)  -->



                <!-- The beginning of Right Container -->
                <div class="col-md-9 col-sm-12">
                    <div class="row ml-1">
                        <h4 class="text-primary recent-popular-post-weight">Recent Post</h4>
                    </div>

                    <!--One Horizontal Card-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mb-md-2" id="conttRecent1">
                          
                        </div>
                    </div>
                    <!--End One Horizontal Card-->


                    <!-- Two Card in Recent Post -->
                    <div class="row" id="conttRecentLoad1">
                        <!-- First in Two -->
                        <div class="col-md-6 col-sm-12 mb-3" id="conttRecent2">
                            
                        </div>

                        <!-- End of First in Two -->

                        <!-- Second in Two -->
                        <div class="col-md-6 col-sm-12" id="conttRecent3">
                           
                        </div>
                         
                    </div>
                   

                    <div class="row mt-5">
                        <div class="col-md-12 col-sm-12 text-center"> 
                              <button type="button" class="btn btn-primary" id="loadMoreRecentBtn">Load More</button>
<!--                      <input type="button "    id="loadMoreRecentBtn" value="Load More">-->
                        </div>
                    </div>




                    <div class="row ml-1 mt-5">
                        <h4 class="text-primary recent-popular-post-weight">Popular Post</h4>
                    </div>
                    <div class="mt-n3">
                        <hr>
                    </div>

                    <!--One Horizontal Card in Popular Post-->
                    <div class="row mt-5">
                        <div class="col-md-12 col-sm-12 mb-md-2" id="conttPopular1">
                    
                        </div>
                    </div>
                    <!--End One Horizontal Card in Popular Post-->


                    <!-- Two Card in Popular Post -->
                    <div class="row">
                        <!-- First in Two Popular Post -->
                        <div class="col-md-6 col-sm-12 mb-3" id="conttPopular2">
                            
                        </div>

                        <!-- End of First in Two Popular Post-->

                        <!-- Second in Two Popular Post -->
                        <div class="col-md-6 col-sm-12" id="conttPopular3">
                          
                        </div>
                        <!-- End of Second in Two Popular Post  -->
                    </div>
                    <!-- End of Two Card in Popular Post -->



                    <div class="row mt-5 mb-5">
                        <div class="col-md-12 col-sm-12 text-center">
                            <a class="text-decoration-none" id="loadMorePopular" href="">
                                <h4 class="text-primary p-2 bg-light load-more ">Load More</h4>
                            </a>
                            <button type="button" class="btn btn-primary">Primary</button>

                        </div>
                    </div>



                </div>
                <!-- The end of Right Container -->
            </div>
            <!-- The End of The row of Category and Content-->



        </div>
    </div>

    </div>

    <div layout:fragment="content-js">
        <script>
            $(document).ready(function () {

                // Append Three Card Top
                $.ajax({
                    url: "/api/contents/search/findAllBycategoryId?id=1&page=0&size=3",
                    method: 'GET',
                    success: function (obj) {
                        if (objRecet._embedded.contents.length>0) {
                            ele1 = `<div class="carousel-item active" >
                        <img src=${obj._embedded.contents[0].thumbnail} class="d-block w-100" alt="...">
                        <div class="latest-post-caption carousel-caption d-none d-md-block text-left ">
                            <h5  class="vw vw-10 mb-3 mb-md-3 mb-sm-3"><span class="carousel-control-next-icon" aria-hidden="true"></span>Latest Post</h5>
                            <p class="vw-10 mb-3 mb-md-3 mb-sm-3 latest-post" >${obj._embedded.contents[0].title}</p>
                            <a href=""><button type="button" class=" latest-category-button btn btn-outline-primary btn-round-lg btn-lg">Keep Reading</button></a>
                        </div>
                    </div>`;
                        }
                        if (objRecet._embedded.contents.length>1) {
                            ele2 = `<div class="carousel-item " >
                        <img src=${obj._embedded.contents[1].thumbnail} class="d-block w-100" alt="...">
                        <div class="latest-post-caption carousel-caption d-none d-md-block text-left ">
                            <h5  class="vw vw-10 mb-3 mb-md-3 mb-sm-3"><span class="carousel-control-next-icon" aria-hidden="true"></span>Latest Post</h5>
                            <p class="vw-10 mb-3 mb-md-3 mb-sm-3 latest-post">${obj._embedded.contents[0].title}</p>
                            <a href=""><button type="button" class=" latest-category-button btn btn-outline-primary btn-round-lg btn-lg">Keep Reading</button></a>
                        </div>
                    </div>`;
                        }
                        if (objRecet._embedded.contents.length>2) {
                            ele3 = `<div class="carousel-item " >
                        <img src=${obj._embedded.contents[2].thumbnail} class="d-block w-100" alt="...">
                        <div class="latest-post-caption carousel-caption d-none d-md-block text-left ">
                            <h5  class="vw vw-10 mb-3 mb-md-3 mb-sm-3"><span class="carousel-control-next-icon" aria-hidden="true"></span>Latest Post</h5>
                            <p class="vw-10 mb-3 mb-md-3 mb-sm-3 latest-post">${obj._embedded.contents[0].title}</p>
                            <a href=""><button type="button" class=" latest-category-button btn btn-outline-primary btn-round-lg btn-lg">Keep Reading</button></a>
                        </div>
                    </div>`;
                        }

                        $("#contt").append(ele1);
                        $("#contt").append(ele2);
                        $("#contt").append(ele3);


                        $("#loadMoreRecentBtn").click();

                    }
                });
                // End of Append Three Card Top
                showCard(0);  //show on first load
                function showCard(page) {
                    // Append Three Card Recent Post
                    $.ajax({
                        url: `/api/contents/search/findAllBycategoryId?id=1&page=${page}&size=3`,
                        method: 'GET',
                        success: function (objRecent) {
                            if (objRecent._embedded.contents.length>0){


                            eleRecent1 = ` <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-7">
                                    <img src="${objRecent._embedded.contents[0].thumbnail}" class="card-img first-card-image-category img-thumbnail"
                                         alt="...">
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">${objRecent._embedded.contents[0].title}</h5>
                                        <p class="card-text text-left">${objRecent._embedded.contents[0].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>

                                        <p class="cart-text"><small class="text-muted">3 days ago /</small> <small
                                                class="text-muted">by Hum Chamroeun /</small> <small class="text-muted">11
                                            min read </small></p>
                                        <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                                            <div class="">
                                                <a class="text-decoration-none" href="">
                                                <i class="material-icons-new outline-favorite_border"
                                                   style="width: 22px; height: 22px;">
                                                </i>
                                                </a>
                                                <sup>12</sup>
                                                <a class="text-decoration-none" href="">
                                                <i class="material-icons-new outline-mode_comment"
                                                   style="width: 22px; height: 22px;">
                                                </i>
                                                </a>
                                                <sup>24</sup>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                                $("#conttRecent1").append(eleRecent1);
                            }

                            if (objRecent._embedded.contents.length>1) {
                                eleRecent2 = ` <div class="card">
                            <img class="card-img-top img-thumbnail" src="${objRecent._embedded.contents[1].thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${objRecent._embedded.contents[1].title}</h5>
                                <p class="card-text"><small class="text-muted">3 days ago /</small> <small
                                        class="text-muted">by Hum Chamroeun /</small> <small class="text-muted">11 min
                                    read </small></p>
                                <p class="card-text text-left">${objRecent._embedded.contents[1].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                                    <div>
                                        <a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-favorite_border"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>

                                        <sup>12</sup>
                                        &nbsp;<a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-mode_comment"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>
                                        <sup>24</sup>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                                $("#conttRecent2").append(eleRecent2);
                            }
                            if (objRecent._embedded.contents.length>2) {
                                var eleRecent3 = `<div class="card">
                            <img class="card-img-top img-thumbnail" src="${objRecent._embedded.contents[2].thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${objRecent._embedded.contents[2].title}</h5>
                                <p class="card-text"><small class="text-muted">3 days ago /</small> <small
                                        class="text-muted">by Hum Chamroeun /</small> <small class="text-muted">11 min
                                    read </small></p>
                                <p class="card-text text-left">${objRecent._embedded.contents[2].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                                    <div>
                                        <a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-favorite_border"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>
                                        <sup>12</sup>
                                        <a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-mode_comment"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>
                                        <sup>24</sup>
                                    </div>
                                </div>
                            </div>
                        </div>`;

                                $("#conttRecent3").append(eleRecent3);

                            }



                        }
                    });
                    // End of Append Three Card Recent Post
                }
                function generateCard(obj) {
                    return `<div class="col-md-6 col-sm-12 mb-3">
                        <div class="card">
                            <img class="card-img-top img-thumbnail" src="${obj.thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${obj.title}</h5>
                                <p class="card-text"><small class="text-muted">3 days ago /</small> <small
                                        class="text-muted">by Hum Chamroeun /</small> <small class="text-muted">11 min
                                    read </small></p>
                                <p class="card-text text-left">${obj.body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                                    <div>
                                        <a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-favorite_border"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>

                                        <sup>12</sup>
                                        &nbsp;<a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-mode_comment"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>
                                        <sup>24</sup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                }

                // Append Load More Six Card Recent Post
                var i = 2;


                var allEle ;
                var leftCol = "";
                $("#loadMoreRecentBtn").click(function () {
                    allEle = ``;
                    leftCol="";
                    $.ajax({
                        url: `/api/contents/search/findAllBycategoryId?id=1&page=${i}&size=3`,
                        method: 'GET',
                        success: function (objRecentLoad) {
                            
                            var elements = "";
                            i++;

                            for (let p = 0; p < objRecentLoad._embedded.contents.length - 1; p++) {
                                elements += generateCard(objRecentLoad._embedded.contents[p]);

                            }
                            leftCol = generateCard(objRecentLoad._embedded.contents[2])
                            allEle += `<div class="row" id="rowLoadMore1">${elements}</div><div class="row" id="rowLoadMore2">${leftCol}`;


                            // 3 Card More
                            $.ajax({

                                url: `/api/contents/search/findAllBycategoryId?id=1&page=${i}&size=3`,
                                method: 'GET',
                                success: function (objRecentLoad2) {
                                    var elements2 = "";
                                    
                                    allEle += generateCard(objRecentLoad2._embedded.contents[0]) + `</div>`

                                    for ( let p = 1; p < objRecentLoad2._embedded.contents.length; p++) {
                                        elements2 += generateCard(objRecentLoad._embedded.contents[p]);
 
                                    }
                                    allEle += `<div class="row" id="rowLoadMore3">${elements2}</div>`
                                    i++;
                                },
                                error: function(er){
                                    console.log(er)
                                }
                            });
                            // End of 3 Card More

                        },
                        error: function(er){
                            console.log(er)
                        }
                    });
                    $("#conttRecentLoad1").append(allEle);
                    
                });

                // End of Load More Six Card Recent Post


                // // Append Three Card Popular Post
                // $.ajax({
                //     url: "/api/contents/search/findAllBycategoryId?id=1&page=2&size=3",
                //     method: 'GET',
                //     success: function (objPopular) {
                //         elePopular1 = `<div class="card mb-3">
                //             <div class="row no-gutters">
                //                 <div class="col-md-7">
                //                     <img src="${objPopular._embedded.contents[0].thumbnail}" class="card-img first-card-image-category img-thumbnail"
                //                          alt="...">
                //                 </div>
                //                 <div class="col-md-5">
                //                     <div class="card-body text-center">
                //                         <h5 class="card-title">${objPopular._embedded.contents[0].title}</h5>
                //                         <p class="card-text text-left">${objPopular._embedded.contents[0].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>

                //                         <p class="cart-text"><small class="text-muted">3 days ago /</small> <small
                //                                 class="text-muted">by Hum Chamroeun /</small> <small class="text-muted">11
                //                             min read </small></p>
                //                         <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                //                             <div class="">
                //                                 <a class="text-decoration-none" href="">
                //                                 <i class="material-icons-new outline-favorite_border"
                //                                    style="width: 22px; height: 22px;">
                //                                 </i>
                //                                 </a>
                //                                 <sup>12</sup>
                //                                 <a class="text-decoration-none" href="">
                //                                 <i class="material-icons-new outline-mode_comment"
                //                                    style="width: 22px; height: 22px;">
                //                                 </i>
                //                                 </a>
                //                                 <sup>24</sup>
                //                             </div>
                //                         </div>
                //                     </div>
                //                 </div>
                //             </div>
                //         </div>`;

                //         elePopular2 = `<div class="card">
                //             <img class="card-img-top img-thumbnail" src="${objPopular._embedded.contents[1].thumbnail}" alt="Card image cap">
                //             <div class="card-body text-center">
                //                 <h5 class="card-title">${objPopular._embedded.contents[1].title}</h5>
                //                 <p class="card-text"><small class="text-muted">3 days ago /</small> <small
                //                         class="text-muted">by Hum Chamroeun /</small> <small class="text-muted">11 min
                //                     read </small></p>
                //                 <p class="card-text text-left">${objPopular._embedded.contents[1].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                //                 <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                //                     <div>
                //                         <a class="text-decoration-none" href="">
                //                         <i class="material-icons-new outline-favorite_border"
                //                            style="width: 22px; height: 22px;">
                //                         </i>
                //                         </a>
                //                         <sup>12</sup>
                //                         <a class="text-decoration-none" href="">
                //                         <i class="material-icons-new outline-mode_comment"
                //                            style="width: 22px; height: 22px;">
                //                         </i>
                //                         </a>
                //                         <sup>24</sup>
                //                     </div>
                //                 </div>
                //                 </div>

                //         </div>`;


                //         var elePopular3 = `    <div class="card">
                //             <img class="card-img-top img-thumbnail" src="${objPopular._embedded.contents[2].thumbnail}" alt="Card image cap">
                //             <div class="card-body text-center">
                //                 <h5 class="card-title">${objPopular._embedded.contents[2].title}</h5>
                //                 <p class="card-text"><small class="text-muted">3 days ago /</small> <small
                //                         class="text-muted">by Hum Chamroeun /</small> <small class="text-muted">11 min
                //                     read </small></p>
                //                 <p class="card-text text-left">${objPopular._embedded.contents[2].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                //                 <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                //                     <div>
                //                         <a class="text-decoration-none" href="">
                //                         <i class="material-icons-new outline-favorite_border"
                //                            style="width: 22px; height: 22px;">
                //                         </i>
                //                         </a>
                //                         <sup>12</sup>
                //                         <a class="text-decoration-none" href="">&nbsp;
                //                         <i class="material-icons-new outline-mode_comment"
                //                            style="width: 22px; height: 22px;">
                //                         </i>
                //                         </a>
                //                         <sup>24</sup>
                //                     </div>
                //                 </div>
                //             </div>
                //         </div>`;

                //         $("#conttPopular1").append(elePopular1);
                //         $("#conttPopular2").append(elePopular2);
                //         $("#conttPopular3").append(elePopular3);


                //     }
                // });
                // End of Append Three Card Popular Post




            });

        </script>
    </div>
</body>

</html>
