<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script> -->
    <th:block th:include="~{fragment/__bootstrap_link}"></th:block>
    <th:block th:include="~{fragment/__javascript_link}"></th:block>
    <link rel="stylesheet" type="text/css" href="css/maTooltip.css" title="maTooltip">
       <script src="js/maTooltip.js"></script>
    <style>
        .row{
            margin-bottom: 15px;
        }
        .card-hover .reveal {
            visibility: hidden;
            opacity: 0;
            height: 0;
            padding: 0;
        }
        /* .maTooltip {
            opacity: 1.8 !important;
        } */
        .maTooltip-contents{
            padding: 0%;
            border: none;
        }
        .card-hover:hover .reveal {
            height: auto;
            visibility: visible;
            opacity: 10;
            transition: opacity 1s ease;
        }
        .avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}
    </style>
</head>

<body>
    <div class="container pr-md-5 pr-sm-4 pr-3 pr-lg-5 pl-md-5 pl-sm-4 pl-3 pl-lg-5 pt-md-5 pt-sm-4 pt-3 pt-lg-5" style="background-color: rgb(216, 227, 236);">
        <div class="col-12">
            <p class="head-size font-weight-bold">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </p>
        </div>
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1" style=" padding-right: 0; text-align: right;">
                        <!-- <img src="" alt=""> -->
                        <img class="img-fluid rounded-circle z-depth-2" style="width: 80px; min-width: 40px;" alt="100x100"
                            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true">
                        
                    </div>

                    <div class="col-9" style="padding-left: 0;">

                        <div class="container ml-0 pt-1" >
                            <div class="row mb-0">
                                <input id="myButton" type="button" value="Click me!">
                                  <div data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>" class="col-12 pf-size card-hover">Kong Pengsea</div>
                            </div>
                          
                            <div class="row">
                                <div class="col-12 pf-size">16-Sep-1998</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <table style="position: relative;float: right;">
                            <tr>
                                <td> <img style="max-width: 25px" src="img/baseline_announcement_black_18dp.png" alt=""></td>
                                <td><img style="max-width: 34px;" src="img/facebook-black-icon.png" alt=""></td>
                            </tr>
                        </table>
                       
                         
                    </div>
                </div>

                <div class="row">
                    <img class="vh-90 w-100" src="img/960x0.jpg" alt="">
                </div>
                <div class="row">

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, nam assumenda, animi tenetur adipisci voluptatem corporis qui officiis voluptas accusamus sunt, quos mollitia quod? Unde quis est harum officia architecto.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officiis sapiente? Non, minus quis! Velit dignissimos doloremque magni dolorem sed similique, molestias quae rem ipsam, odio aspernatur accusamus itaque rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam beatae omnis minus expedita, at voluptatum debitis soluta corrupti aperiam reiciendis vero ducimus maiores, animi odit culpa minima magnam iure.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, nam assumenda, animi tenetur adipisci voluptatem corporis qui officiis voluptas accusamus sunt, quos mollitia quod? Unde quis est harum officia architecto.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officiis sapiente? Non, minus quis! Velit dignissimos doloremque magni dolorem sed similique, molestias quae rem ipsam, odio aspernatur accusamus itaque rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam beatae omnis minus expedita, at voluptatum debitis soluta corrupti aperiam reiciendis vero ducimus maiores, animi odit culpa minima magnam iure.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, nam assumenda, animi tenetur adipisci voluptatem corporis qui officiis voluptas accusamus sunt, quos mollitia quod? Unde quis est harum officia architecto.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officiis sapiente? Non, minus quis! Velit dignissimos doloremque magni dolorem sed similique, molestias quae rem ipsam, odio aspernatur accusamus itaque rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aliquam beatae omnis minus expedita, at voluptatum debitis soluta corrupti aperiam reiciendis vero ducimus maiores, animi odit culpa minima magnam iure.</p>

                </div>
                <div class="row">
                    <div class="col-2">
                        
                      <div class="d-inline-block"> <img style="width: 25px" src="img/baseline_announcement_black_18dp.png" alt=""></div> 
                      <span>399</span>
                    
                    </div>
                    <div class="col-10">
                        <span style="background-color: cadetblue;">Programing</span>
                    </div>
                </div>
                <div class="row" style="border-bottom:  2px solid blueviolet;">
                    <p>5 Comments</p>
                </div>
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-1 col-lg-1" style="  text-align: right;">
                        <!-- <img src="" alt=""> -->
                        <img class="img-fluid rounded-circle z-depth-2" style="width: 80px; min-width: 40px;" alt="100x100"
                            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true">

                    </div>
                    <div class="col-10 col-sm-10 col-md-11 col-lg-11 my-auto">
                        <div class="form-group my-auto">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Comment">
                        </div>
<!--                        <input style="width: -webkit-fill-available;" placeholder="comment" type="text" name="" id="">-->
                    </div>
                </div>

<div class="row">
    <div class="ml-3 mr-0 container-fluid">
        <div class="row">
            <div class="col-2 col-sm-1">   <img class="img-fluid rounded-circle z-depth-2" style="width: 80px; min-width: 40px;" alt="100x100"
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true">
</div>
            <div class="col-10 col-sm-10">
                <div class="container-fluid ml-0 pr-0 mr-0">
                    <div class="row">
                        <span style="color: blue;">kong pengsea</span> 
                        <span> &nbsp;&nbsp;&nbsp;* 22 days ago</span>
                    </div>
                    <div class="row">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente illum expedita sed possimus tempora odit at voluptas, ea odio. Perspiciatis facere ipsam aut deserunt quasi at neque alias dignissimos!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-sm-1">
                <img class="img-fluid rounded-circle z-depth-2" style="width: 80px; min-width: 40px;" alt="100x100"
                                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true">
            </div>
            <div class="col-10 col-sm-10">
                <div class="container-fluid ml-0 pr-0 mr-0">
                    <div class="row">
                        <span style="color: blue;">kong pengsea</span>
                        <span> &nbsp;&nbsp;&nbsp;* 22 days ago</span>
                    </div>
                    <div class="row">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente illum expedita sed possimus tempora odit at voluptas, ea odio. Perspiciatis facere ipsam aut deserunt quasi at neque alias dignissimos!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-sm-1">   <img class="img-fluid rounded-circle z-depth-2" style="width: 80px; min-width: 40px;" alt="100x100"
                                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true">
            </div>
            <div class="col-10 col-sm-10">
                <div class="container-fluid ml-0 pr-0 mr-0">
                    <div class="row">
                        <span style="color: blue;">kong pengsea</span>
                        <span> &nbsp;&nbsp;&nbsp;* 22 days ago</span>
                    </div>
                    <div class="row">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente illum expedita sed possimus tempora odit at voluptas, ea odio. Perspiciatis facere ipsam aut deserunt quasi at neque alias dignissimos!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>

        <div class="row">
            <h4>អត្ថបទដែលគួរអាន</h4>
            
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"> <img class="img-fluid z-depth-2" 
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true"></div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi necessitatibus, </div>
                                
                            </div>
                            <div class="row"  style="position: relative;
                            float: right;">
                                <a href="" style="font-size: smaller">see more &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                       
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"> <img class="img-fluid z-depth-2" 
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true"></div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi necessitatibus, </div>
                                
                            </div>
                            <div class="row"  style="position: relative;
                            float: right;">
                                <a href="" style="font-size: smaller">see more &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                       
                    </div>
            </div>
        </div> <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"> <img class="img-fluid z-depth-2" 
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true"></div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi necessitatibus, </div>
                                
                            </div>
                            <div class="row"  style="position: relative;
                            float: right;">
                                <a href="" style="font-size: smaller">see more &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                       
                    </div>
            </div>
        </div> <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"> <img class="img-fluid z-depth-2" 
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true"></div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi necessitatibus, </div>
                                
                            </div>
                            <div class="row"  style="position: relative;
                            float: right;">
                                <a href="" style="font-size: smaller">see more &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                       
                    </div>
            </div>
        </div> <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pl-0 pr-0"> <img class="img-fluid z-depth-2" 
                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true"></div>
                    <div class="col-10">
                        <div class="container-fluid">
                            <div class="row mb-0">
                                <h5 style="margin-top: 0;">Lorem ipsum, dolor sit amet consectetur </h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis, praesentium tempora cumque illo mollitia deserunt ad, asperiores totam minima quae commodi necessitatibus, </div>
                                
                            </div>
                            <div class="row"  style="position: relative;
                            float: right;">
                                <a href="" style="font-size: smaller">see more &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                       
                    </div>
            </div>
        </div>
    </div>
</body>
<script>
    // Document ready function
    $(function ()
        {
            var button = $('#myButton');
            var tooltip = new maTooltip(button, {
                   inline_style: 'max-width: none;',
                   full_visibility_duration: 333070,
                   position: maTooltip.POSITION.BOTTOM, static_message: '<div style="background-color: white; color: black;"><div>  <img class="img-fluid rounded-circle z-depth-2" style="width: 80px; min-width: 40px;" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true"></div><h3>Hum Chamroeun</h3><p>From Takeo</p><p>I am so happy</p><hr><div style="background-color: white; color: black;"><a href="" style="margin-left: 30px;margin-right: 30px ">Favorite Category</a><a style="margin-left: 30px;margin-right: 30px " href="">Education</a><a href="" style="margin-left: 30px;margin-right: 30px ">Technology</a></div></div>'} );

   
            //  var tooltip = new maTooltip( button, {  } );
                  button.on('click', function () { tooltip.show(); });
             });
</script>
</html>
