<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{home-layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content By Category</title>
</head>
<body>
<div class="content bg-white" layout:fragment="content">
    <style>

        .custom-radio:hover {
            background-color: #e9eef2;
        }

        latest-post-top{
            font-size: 16px !important;
        }

        .first-carousel{
            margin-bottombottom: 5%;
        }
        .second-carousel{
            margin-bottom: 5%;
        }
        .third-carousel{
            margin-bottom: 5%;
        }

        .btn-circle.btn-sm {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            font-size: 8px;
            text-align: center;
        }

        .previous-next-container{
            left: 300px;
        }

        .previous-btn-latest{
            bottom: 10px !important;
        }

        .next-btn-latest{
            bottom: 60px !important;
        }

        /*.left-previous{*/
        /*    right: 30px !important;*/
        /*    bottom: -390px !important;*/
        /*}*/
        /*.carousel-control-prev{*/
        /*    left: 1300px !important;*/
        /*    bottom: -390px !important;*/
        /*}*/

        .btn-round-lg{
            border-radius: 22.5px !important;
            font-size: 17px !important;
        }

        .latest-post-caption{
            bottom: 37px;
            font-size: 23px;
            font-family: Semi-Bold;
        }

        .latest-top-text{
            font-size: 10px;
        }
        .btn-round{
            border-radius: 17px;
        }
        .btn-round-sm{
            border-radius: 15px;
        }
        .btn-round-xs{
            border-radius: 11px;
            padding-left: 10px;
            padding-right: 10px;
        }


        /*Chamroeun CSS*/
        @media only screen and (max-width: 998px) {
            .left-category {
                display: none;
            }

            .first-card-image-category-border {
                border-top: 0 !important;
            }

        }

        @media only screen and (min-width: 998px){
            .top-category{
                display: none;
            }
        }

        .latest-post{
            max-width: 43% !important;
        }


        .category-bg-color {
            background-color: #bcc1c5!important;
        }

        .category-border-color{
            border-color: #a1aab3 !important;
        }

        .recent-popular-post-weight{
            font-weight: 400 !important;
        }

        .load-more{
            font-weight: 400 !important;
            font-size: 22px !important;
        }

        .carousel-caption{
            left: 7% !important;
        }


        .category-width{
            min-width: 225px;
        }


        .first-card-image-category {
            height: 100%;
        }

        div.scrollmenu {
            background-color: #333;
            overflow: auto;
            white-space: nowrap;
        }

        div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        div.scrollmenu a:hover {
            background-color: #777;
        }

        .latest-category-button {
            color: #f8f9fa !important;
            border-color: #f8f9fa !important;
            font-size: 17px !important;
        }







        /* New Scroll Category */
        /* End of New Scroll Category */

    </style>


    <div class="row ml-0 mr-0 remove_slide_on_null">
        <div class="col-md-12 col-sm-12 col-12 pl-0 pr-0">

            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" id="contt">

                </div>


            </div>
        </div>
    </div>

    <div class="px-5">
        <!-- Scroll Category -->
        <div class="row  ">

            <div class="category-bg-color scrollmenu  top-category  w-100" >
                <th:block th:each="category:${categories}">
<!--                    <a href="#home" th:text="${category.name}" th:value="${category.id}">Communication</a>-->
                    <label style="padding: 10px;  margin: 0px; cursor: pointer" th:text="${category.name}"
                           th:for="${category.id}"> </label>
                </th:block>
 </div>
        </div>

        <!--        The row of Category and Content-->
        <div class="row mt-4">
            <!-- The beginning of Left Container (Category)  -->
            <div class="col-md-0 col-lg-3 col-sm-12 left-category category-width  " >
                <ul class="list-group">
                    <li class="list-group-item category-border-color active category-bg-color font-weight-bold ">Categories</li>
                    <li class="list-group-item  " style="cursor: pointer">

                        <div class="custom-control custom-radio pt-2" th:each="category:${categories}">
                            <th:block th:if="${category.id == 1}">
                                <input type="radio" style="cursor: pointer" checked th:value="${category.id}" th:id="${category.id}" name="customRadio" class="custom-control-input">
                                <div  class="custom-control-label pointer" >
                                    <label style="cursor: pointer; display:inline-block; width:90%;" th:text="${category.name}" th:for="${category.id}"></label>
                                </div>
                            </th:block>
                            <th:block th:unless="${category.id == 1}">
                                <input type="radio" style="cursor: pointer" checked th:value="${category.id}" th:id="${category.id}" name="customRadio" class="custom-control-input">
                                <div  class="custom-control-label pointer" >
                                    <label style="cursor: pointer; display:inline-block; width:90%;" th:text="${category.name}" th:for="${category.id}"></label>
                                </div>
                            </th:block>
                        </div>
                    </li>
                </ul>

            </div>
            <!-- End of Left Container (Category)  -->



            <!-- The beginning of Right Container -->
            <div class=" col-lg-9 col-sm-12">
                <div class="row ml-1 to_remove_on_null">
                    <h4 class="text-primary recent-popular-post-weight">Recent Post</h4>
                </div>

                <!--One Horizontal Card-->
                <div class="row " >
                    <div class="col-md-12 col-sm-12 mb-md-2" id="conttRecent1">
                        <!-- Test Horizontal -->

                    </div>
                </div>
                <!--End One Horizontal Card-->


                <!-- Two Card in Recent Post -->
                <div class="row" id="conttRecentLoad1">
                    <!-- First in Two -->
                    <div class="col-md-6 col-sm-12 mb-3" id="conttRecent2">

                    </div>

                    <!-- End of First in Two -->

                    <!-- Second in Two -->
                    <div class="col-md-6 col-sm-12" id="conttRecent3">

                    </div>
                    <!-- End of Second in Two -->
                </div>
                <!-- End of Two Card in Recent Post -->

                <div class="row mt-5 mb-5 to_remove_on_null">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h4 class="text-primary p-2 bg-light load-more" style="cursor: pointer" id="load">  Load More </h4>
                    </div>
                </div>




                <div class="row ml-1  ">
                    <h4 class="text-primary recent-popular-post-weight">Popular Post</h4>
                </div>
                <div class="mt-n3" id="popular_post">
                    <hr>
                </div>

                <!--One Horizontal Card in Popular Post-->
                <div class="row mt-5">
                    <div class="col-md-12 col-sm-12 mb-md-2" id="pop_post">

                    </div>
                </div>
                <!--End One Horizontal Card in Popular Post-->


                <!-- Two Card in Popular Post -->
                <div class="row" id="card_popular">

                </div>
                <!-- End of Two Card in Popular Post -->
                <div class="row mt-5 mb-5">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h4 class="text-primary p-2 bg-light load-more" style="cursor: pointer" id="loadmore_popular">  Load More </h4>
                    </div>
                </div>
            </div>
            <!-- The end of Right Container -->
        </div>
        <!-- The End of The row of Category and Content-->



    </div>
</div>

</div>
<div layout:fragment="content-js">
    <script>
        var cateId=1;
        const getParamRequest = () => {
            let _urlParams = new URLSearchParams(window.location.search);
            if (_urlParams.has("category_id")){
                /* click on category with that id*/
                let _category_id = _urlParams.get("category_id");
                $('#'+_category_id).click();
            }else{
                /* user request default*/
            }
        }
        $(document).ready(function () {


            function generateCard(obj) {
                return `<div class="col-md-6 col-sm-12 mb-3">
                        <div class="card" onclick="window.location.href ='/detail/${obj.id}'">
                            <img class="card-img-top img-thumbnail" src="${obj.thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${obj.title}</h5>
                                <p class="card-text"><small class="text-muted content-timestamp">${obj.timestamp}</small> <small
                                        class="text-muted"> </small> <small class="text-muted">  </small></p>
                                <p class="card-text text-left">${obj.body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
                                    <div>
                                        <a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-favorite_border"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>

                                        <sup>12</sup>
                                        &nbsp;<a class="text-decoration-none" href="">
                                        <i class="material-icons-new outline-mode_comment"
                                           style="width: 22px; height: 22px;">
                                        </i>
                                        </a>
                                        <sup>24</sup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
            }

            showSlide(1);
            function showSlide(cid){
                var ele1='',ele2='',ele3='';

                $.ajax({
                    url: `/api/contents/search/findAllBycategoryIdAndStatus?id= ${cid}&st=1&page=0&size=3&projection=ContentNotificationProjection`,
                    method: 'GET',
                    success: function (obj) {
                        $('.remove_slide_on_null').removeClass("d-none");
                        if (obj._embedded.contents.length<1){
                            $('.remove_slide_on_null').addClass("d-none");
                        }
                        if (obj._embedded.contents.length>0) {
                            ele1 = `<div class="carousel-item active" onclick="window.location.href ='/detail/${obj._embedded.contents[0].id}'" style="height: 400px;background:url(${obj._embedded.contents[0].thumbnail}) no-repeat center; background-size: cover; cursor: pointer;" class="border  border-dark h-100  group-one-c-one d-flex align-items-end justify-content-center mysl">
<!--                        <img src=${obj._embedded.contents[0].thumbnail} class="d-block w-100" alt="..."> -->
                                <div class="latest-post-caption carousel-caption d-none d-md-block text-left ">
                                <h5  class="vw vw-10 mb-3 mb-md-3 mb-sm-3"><span class="carousel-control-next-icon" aria-hidden="true"></span>Latest Post</h5>
                                <p class="vw-10 mb-3 mb-md-3 mb-sm-3 latest-post" >${obj._embedded.contents[0].title}</p>
                                <a href=""><button type="button" class=" latest-category-button btn btn-outline-primary btn-round-lg btn-lg">Keep Reading</button></a>
                                </div>
                                </div>`;
                                }
                        if (obj._embedded.contents.length>1) {
                            ele2 = `<div class="carousel-item " onclick="window.location.href ='/detail/${obj._embedded.contents[1].id}'" style="height: 400px;background:url(${obj._embedded.contents[1].thumbnail}) no-repeat center; background-size: cover; cursor: pointer;" class="border  border-dark h-100  group-one-c-one d-flex align-items-end justify-content-center mysl">
<!--                        <img src=${obj._embedded.contents[1].thumbnail} class="d-block w-100" alt="...">-->
                                <div class="latest-post-caption carousel-caption d-none d-md-block text-left ">
                                <h5  class="vw vw-10 mb-3 mb-md-3 mb-sm-3"><span class="carousel-control-next-icon" aria-hidden="true"></span>Latest Post</h5>
                                <p class="vw-10 mb-3 mb-md-3 mb-sm-3 latest-post">${obj._embedded.contents[0].title}</p>
                                <a href=""><button type="button" class=" latest-category-button btn btn-outline-primary btn-round-lg btn-lg">Keep Reading</button></a>
                                </div>
                                </div>`;
                                }
                        if (obj._embedded.contents.length>2) {
                            ele3 = `<div class="carousel-item " onclick="window.location.href ='/detail/${obj._embedded.contents[2].id}'" style="height: 400px;background:url(${obj._embedded.contents[2].thumbnail}) no-repeat center; background-size: cover; cursor: pointer;" class="border  border-dark h-100  group-one-c-one d-flex align-items-end justify-content-center mysl">
<!--                        <img src=${obj._embedded.contents[2].thumbnail} class="d-block w-100" alt="...">-->
                                <div class="latest-post-caption carousel-caption d-none d-md-block text-left ">
                                <h5  class="vw vw-10 mb-3 mb-md-3 mb-sm-3"><span class="carousel-control-next-icon" aria-hidden="true"></span>Latest Post</h5>
                                <p class="vw-10 mb-3 mb-md-3 mb-sm-3 latest-post">${obj._embedded.contents[0].title}</p>
                                <a href=""><button type="button" class=" latest-category-button btn btn-outline-primary btn-round-lg btn-lg">Keep Reading</button></a>
                                </div>
                                </div>`;
                                }
                        $("#contt").append(ele1);
                        $("#contt").append(ele2);
                        $("#contt").append(ele3);

                        $("#loadMoreRecentBtn").click();

                    }
                });

            }
            showCard(1,1); //show on first load
            function showCard(page,cid) {
                var eleRecent1='',eleRecent2='',eleRecent3='';
                // Append Three Card Recent Post
                $.ajax({
                    url: `/api/contents/search/findAllBycategoryIdAndStatus?id=${cid}&st=1&page=${page}&size=3&projection=ContentNotificationProjection`,
                    method: 'GET',
                    success: function (objRecent) {
                        $('.to_remove_on_null').removeClass("d-none");
                        if (objRecent._embedded.contents.length<1){
                            $('.to_remove_on_null').addClass("d-none");
                        }
                        if (objRecent._embedded.contents.length>0) {
                            var eleRecent1 = `   <div class="card mb-3" onclick="window.location.href ='/detail/${objRecent._embedded.contents[0].id}'">
                            <div class="row no-gutters">
                                <div class="col-md-7">
                                    <img src="${objRecent._embedded.contents[0].thumbnail}" class="card-img first-card-image-category img-thumbnail"
                                         alt="...">
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">${objRecent._embedded.contents[0].title}</h5>
                                        <p class="card-text text-left">${objRecent._embedded.contents[0].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>

                                        <p class="cart-text"><small class="text-muted content-timestamp">${objRecent._embedded.contents[0].timestamp}</small> <small
                                                class="text-muted"> </small> <small class="text-muted"> </small></p>
                                        <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">

                                </div>
                                </div>
                                </div>
                                </div>
                                </div>`;
                                }
                        if (objRecent._embedded.contents.length>1) {
                            eleRecent2 = ` <div class="card" onclick="window.location.href ='/detail/${objRecent._embedded.contents[1].id}'">
                            <img class="card-img-top img-thumbnail" src="${objRecent._embedded.contents[1].thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${objRecent._embedded.contents[1].title}</h5>
                                <p class="card-text"><small class="text-muted content-timestamp">${objRecent._embedded.contents[1].timestamp}</small> <small
                                        class="text-muted"></small> <small class="text-muted"></small></p>
                                <p class="card-text text-left">${objRecent._embedded.contents[1].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">
<!--                                    <div>-->
                                <!--                                        <a class="text-decoration-none" href="">-->
                                <!--                                        <i class="material-icons-new outline-favorite_border"-->
                                <!--                                           style="width: 22px; height: 22px;">-->
                                <!--                                        </i>-->
                                <!--                                        </a>-->

                                <!--                                        <sup>12</sup>-->
                                <!--                                        &nbsp;<a class="text-decoration-none" href="">-->
                                <!--                                        <i class="material-icons-new outline-mode_comment"-->
                                <!--                                           style="width: 22px; height: 22px;">-->
                                <!--                                        </i>-->
                                <!--                                        </a>-->
                                <!--                                        <sup>24</sup>-->
                                <!--                                    </div>-->
                                </div>
                                </div>
                                </div>`;

                                }
                        if (objRecent._embedded.contents.length>2) {
                            eleRecent3 = `<div class="card" onclick="window.location.href ='/detail/${objRecent._embedded.contents[2].id}'">
                            <img class="card-img-top img-thumbnail" src="${objRecent._embedded.contents[2].thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${objRecent._embedded.contents[2].title}</h5>
                                <p class="card-text"><small class="text-muted content-timestamp">${objRecent._embedded.contents[2].timestamp}</small> <small
                                        class="text-muted"  > </small></p>
                                <p class="card-text text-left">${objRecent._embedded.contents[2].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">

                                </div>
                                </div>
                                </div>`;
                                }
                        var elet=`<div class= "col-md-6 col-sm-12 mb-3 " id= "conttRecent2 ">${eleRecent2}</div><div class= "col-md-6 col-sm-12 mb-3 " id= "conttRecent3 ">${eleRecent3}</div>`
                        $("#conttRecent1").append(eleRecent1);

                        $("#conttRecentLoad1").append(elet);
                        convertTimeToFormat();
                    },
                    error: function(data){
                        console.log(data)
                    }
                });
                // End of Append Three Card Recent Post
            }

            var i = 2;
            var allEle ;
            var leftCol = "";
            function addMoreCard(cid){
                $.ajax({

                    url: `/api/contents/search/findAllBycategoryIdAndStatus?id=${cid}&st=1&page=${i}&size=3&projection=ContentNotificationProjection`,
                    method: 'GET',
                    success: function (objRecentLoad) {
                        console.log(objRecentLoad)
                        var elements = "";
                        i++;

                        if(objRecentLoad._embedded.contents.length >1) {
                            for (let p = 0; p < 2; p++) {
                                elements += generateCard(objRecentLoad._embedded.contents[p]);

                            }
                        }
                        else {
                            return;
                        }
                        if(objRecentLoad._embedded.contents.length>2) {
                            leftCol = generateCard(objRecentLoad._embedded.contents[2]);
                            allEle += `<div class="row" id="rowLoadMore1">${elements}</div><div class="row" id="rowLoadMore2">${leftCol}`;
                        }
                        else {
                            $("#conttRecentLoad1").after(`<div class="row" id="rowLoadMore3">${elements}</div>`);
                            convertTimeToFormat();
                        }

                        // 3 Card More
                        $.ajax({

                            url: `/api/contents/search/findAllBycategoryIdAndStatus?id=1&st=1&page=${i}&size=3&projection=ContentNotificationProjection`,
                            method: 'GET',
                            success: function (objRecentLoad2) {
                                var elements2 = "";
                                console.log(objRecentLoad2)

                                if(objRecentLoad2._embedded.contents.length>0) {
                                    allEle += generateCard(objRecentLoad2._embedded.contents[0]) + `</div>`

                                }
                                if(objRecentLoad2._embedded.contents.length>1) {
                                    for (let p = 1; p < objRecentLoad2._embedded.contents.length; p++) {
                                        elements2 += generateCard(objRecentLoad._embedded.contents[p]);
                                    }
                                }
                                allEle += `<div class="row" id="rowLoadMore3">${elements2}</div>`
                                i++;
                                console.log(allEle)
                                $("#conttRecentLoad1").after(allEle);
                                convertTimeToFormat();
                            },
                            error: function(er){
                                console.log(er)
                            }
                        });
                        // End of 3 Card More

                    },
                    error: function(er){
                        console.log(er);
                    }
                });
            }

            $('#load').click(function (){
                allEle = ``;
                leftCol="";
                addMoreCard(cateId);

            });
            $(document).ready(function () {
                var allElementOfCardPopular = '';
                var page = 1;

                function addMoreCardPopularPost(cid) {
                    $.ajax({

                        url: `/api/contents/search/findPopularArticleBaseOnClick?category_id=${cid}&page=${page}&size=3&projection=ContentNotificationProjection`,
                        method: 'GET',
                        success: function (objRecentLoad) {
                            console.log(objRecentLoad)
                            var elements = "";
                            page++;

                            if (objRecentLoad._embedded.contents.length > 1) {
                                for (let p = 0; p < 2; p++) {
                                    elements += generateCard(objRecentLoad._embedded.contents[p]);

                                }
                            } else {
                                return;
                            }
                            if (objRecentLoad._embedded.contents.length > 2) {
                                leftCol = generateCard(objRecentLoad._embedded.contents[2]);
                                allElementOfCardPopular += `<div class="row" id="rowLoadMore1">${elements}</div><div class="row" id="rowLoadMore2">${leftCol}`;
                            } else {
                                $("#card_popular").after(`<div class="row" id="rowLoadMore3">${elements}</div>`);

                                convertTimeToFormat();
                            }

                            // 3 Card More
                            $.ajax({

                                url: `/api/contents/search/findPopularArticleBaseOnClick?category_id=${cid}&page=${page}&size=3&projection=ContentNotificationProjection`,
                                method: 'GET',
                                success: function (objRecentLoad2) {
                                    console.log(objRecentLoad2)
                                    var elements2 = "";


                                    if (objRecentLoad2._embedded.contents.length > 0) {
                                        allElementOfCardPopular += generateCard(objRecentLoad2._embedded.contents[0]) + `</div>`

                                    }
                                    if (objRecentLoad2._embedded.contents.length > 1) {
                                        for (let p = 1; p < objRecentLoad2._embedded.contents.length; p++) {
                                            elements2 += generateCard(objRecentLoad._embedded.contents[p]);
                                        }
                                    }
                                    allElementOfCardPopular += `<div class="row" id="rowLoadMore3">${elements2}</div>`
                                    page++;
                                    console.log(allElementOfCardPopular)
                                    console.log($("#card_popular"))
                                    $("#card_popular").after(allElementOfCardPopular);
                                    convertTimeToFormat();
                                },
                                error: function (er) {
                                    console.log(er)
                                }
                            });
                            // End of 3 Card More

                        },
                        error: function (er) {
                            console.log(er);
                        }
                    });
                }


                showCardBottomPopular(0, 1);

                function showCardBottomPopular(page, cid) {
                    var eleRecent1 = '', eleRecent2 = '', eleRecent3 = '';

                    $.ajax({
                        url: `/api/contents/search/findPopularArticleBaseOnClick?category_id=${cid}&page=${page}&size=3&projection=ContentNotificationProjection`,
                        method: 'GET',
                        success: function (objRecent) {
                            console.log(objRecent)
                            if (objRecent._embedded.contents.length > 0) {
                                eleRecent1 = `   <div class="card mb-3" onclick="window.location.href ='/detail/${objRecent._embedded.contents[0].id}'">
                            <div class="row no-gutters">
                                <div class="col-md-7">
                                    <img src="${objRecent._embedded.contents[0].thumbnail}" class="card-img first-card-image-category img-thumbnail"
                                         alt="...">
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">${objRecent._embedded.contents[0].title}</h5>
                                        <p class="card-text text-left">${objRecent._embedded.contents[0].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>

                                        <p class="cart-text"><small class="text-muted content-timestamp"> ${objRecent._embedded.contents[2].timestamp}</small> <small
                                                class="text-muted"> </small> <small class="text-muted">  </small></p>
                                        <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">

                                </div>
                                </div>
                                </div>
                                </div>
                                </div>`;
                            }
                            if (objRecent._embedded.contents.length > 1) {
                                eleRecent2 = ` <div class="card" onclick="window.location.href ='/detail/${objRecent._embedded.contents[1].id}'">
                            <img class="card-img-top img-thumbnail" src="${objRecent._embedded.contents[1].thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${objRecent._embedded.contents[1].title}</h5>
                                <p class="card-text"><small class="text-muted content-timestamp">${objRecent._embedded.contents[2].timestamp}</small> <small
                                        class="text-muted"> </small> <small class="text-muted">  </small></p>
                                <p class="card-text text-left">${objRecent._embedded.contents[1].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">

                                </div>
                                </div>
                                </div>`;

                            }
                            if (objRecent._embedded.contents.length > 2) {
                                eleRecent3 = `<div class="card" onclick="window.location.href ='/detail/${objRecent._embedded.contents[2].id}'">
                            <img class="card-img-top img-thumbnail" src="${objRecent._embedded.contents[2].thumbnail}" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">${objRecent._embedded.contents[2].title}</h5>
                                <p class="card-text"><small class="text-muted content-timestamp">${objRecent._embedded.contents[2].timestamp}</small> <small
                                        class="text-muted"> </small> <small class="text-muted">  </small></p>
                                <p class="card-text text-left">${objRecent._embedded.contents[2].body.replace(/(<([^>]+)>)/ig, "").substring(0, 200)}</p>
                                <div class="d-inline d-flex justify-content-end  align-items-end text-right mr-2">

                                </div>
                                </div>
                                </div>`;
                            }
                            var elet = `<div class= "col-md-6 col-sm-12 mb-3 " id= "conttRecent2 ">${eleRecent2}</div><div class= "col-md-6 col-sm-12 mb-3 " id= "conttRecent3 ">${eleRecent3}</div>`
                            $("#pop_post").append(eleRecent1);
                            $("#card_popular").append(elet);
                            convertTimeToFormat();
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    });

                }

                $('#loadmore_popular').click(function () {
                    allEle = ``;
                    leftCol = "";
                    addMoreCardPopularPost(cateId);
                });

            })
            $('.custom-control-input').click(function(){
                if ($(this).is(':checked'))
                {
                    $("#contt").empty();

                    $("#conttRecentLoad1").empty();
                    $("#conttRecent1").empty();
                    i=2;
                    cateId=$(this).val();
                    showCard(1,cateId);
                    showSlide(cateId);
                }
            });
            setTimeout(function(){
                getParamRequest()
            }, 500);
        })
    </script>
</div>
</body>
</html>
