<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Hanuman&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/outline.css">

    <th:block th:include="~{fragment/__bootstrap_link}"></th:block>
    <th:block th:include="~{navbar/__navbar_css}"></th:block>
    <style>
    .bg-color-two {
        background-color: #E5EAED;
    }
    </style>
</head>
<body>
    <div th:replace="~{navbar/__navbar}"></div>
    <div class="" layout:fragment="content"></div>
    <div th:replace="~{footer/__footer}"></div>
    <th:block th:include="~{fragment/__javascript_link}"></th:block>
    <div class="" layout:fragment="content-js"></div>
    <script>
          
        </script>
</body>
</html>