<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Hanuman&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/outline.css">

    <th:block th:include="~{fragment/__bootstrap_link}"></th:block>
    <th:block th:include="~{navbar/__navbar_css}"></th:block>
    <style>
    .bg-color-two {
        background-color: #E5EAED;
    }
    </style>
</head>
<body>
    <div th:replace="~{navbar/__navbar}"></div>
    <div class="" layout:fragment="content"></div>
    <div th:replace="~{footer/__footer}"></div>
    <th:block th:include="~{fragment/__javascript_link}"></th:block>
    <div class="" layout:fragment="content-js"></div>
    <script>
        var p=1;
        $(document).ready(function(){
            $.ajax({
                url: "/conCard",
                method: 'GET',
                success: function(obj){
                     
                    $("#conn").prepend(obj);
                },
                error: function(err){
                    console.log(err);
                }
            });
        });

        $(document).ready(function(){
            $.ajax({
                url: "/conCard/"+p,
                method: 'GET',
                success: function(obj){
                    console.log(obj);
                    $("#cardCon").append(obj);
                    p++;
                    $.ajax({
                url: "/conCard/"+p,
                method: 'GET',
                success: function(obj){
                    console.log(obj);
                    $("#cardCon").append(obj);
                    p++;
                },
                error: function(err){
                    console.log(err);
                }
            });
                },
                error: function(err){
                    console.log(err);
                }
            });
        });

       
        var _throttleTimer = null;
        var _throttleDelay = 100;
        var $window = $(window);
        var $document = $(document);

        $document.ready(function () {

            $window
                .off('scroll', ScrollHandler)
                .on('scroll', ScrollHandler);

        });

        function ScrollHandler(e) {
            //throttle event:
            clearTimeout(_throttleTimer);
            _throttleTimer = setTimeout(function () {
                console.log('scroll');

            //do work
            if ($window.scrollTop() + $window.height() > $document.height() - 1000) {
                //  alert(p)
            
                 $(document).ready(function(){
            $.ajax({
                url: "/conCard/"+p,
                method: 'GET',
                success: function(obj){
                    console.log(obj);
                    $("#cardCon").append(obj);
                    p++;
                    $.ajax({
                url: "/conCard/"+p,
                method: 'GET',
                success: function(obj){
                    console.log(obj);
                    $("#cardCon").append(obj);
                    p++;
                },
                error: function(err){
                    console.log(err);
                }
            });
                },
                error: function(err){
                    console.log(err);
                }
            });
        });
            
            } 
            }, _throttleDelay);
        }
        
 
                    
        </script>
</body>
</html>