<footer class="mainfooter p-5" style="background-color: #eeeef2;" role="contentinfo">
    <div class="footer-middle">
        <div class="container my-auto" style=" ">
            <div class="row mt-4">
               
                <div class="col-3 col-md-3">
                    <h6>About us</h6>
                    </div>
                <div class="col-2 col-md-3"><h6>Privacy</h6> </div>
                <div class="col-3 col-md-3"><h6>Users Guide</h6> </div>
                <div class="col-4 col-md-3">
                    <img style="width: 40px;opacity: 0.2;" src="/img/facebook.png" alt="">
                    <img style="width: 40px;opacity: 0.2;" src="/img/twitter.png" alt="">
                    <img style="width: 40px;opacity: 0.2;" src="/img/instagram.png" alt="">
                </div>

            </div>
        </div>
    </div>
  </footer>