<footer class="mainfooter p-3" style="background-color: #eeeef2;" role="contentinfo">
    <style>
    .point{
        cursor: pointer;
    }
    </style>
    <div class="footer-middle">
        <div class="container-fluid my-auto" >
            <div class="row mt-4">
               
                <div class="col-4 col-md-3 pt-3">
                    <h6 class="point cursor-point" onclick="location.href = '/about'">About us</h6>
                    </div>
                <div class="col-4 col-md-3 pt-3 "  onclick="location.href = '/privacy'"><span class="point"><h6>Privacy</h6></span> </div>
                <div class="col-4 col-md-3 pt-3 pr-0 pl" onclick="location.href = '/privacy'"><span class="point"><h6 >Users Guide</h6></span>  </div>
                <div class="col-12 col-md-3 mt-md-1 mt-3 d-flex justify-content-around
                " style="text-align: center;">
                    <img style="width: 36px;opacity: 0.2;" class="point" src="/icon/facebook.svg" alt="">
                    <img style="width: 42px;opacity: 0.2;" class="point" src="/img/twitter.png" alt="">
                    <img style="width: 36px;opacity: 0.2; margin-top: 2px;" class="point" src="../icon/instagram.svg">

            </div>
        </div>
    </div>
        </div>
  </footer>
