<div class="sidebar left-side-menu-sidebar border-right w-100" sec:authorize="isAuthenticated()">
    <span class="d-none" id="span_current_page" th:text="${CURRENT_PAGE}"></span>
    <style>
        li.list-group-item {
            padding: 0%;
        }
        .left-side-text{
            color:#b93d5c;
        }
    </style>
    <ul class="list-group list-group-flush left-side-menu-ul "  id="left-side-menu">
        <li onclick="location.href='/admin';" class="list-group-item text-center w-100">
            <br>
            <!-- <i class="material-icons-new outline-home"></i> -->
            <img class="" src="/icon/home-v4.svg" style="width: 30px; height: 30px;" alt="">
            <h6 class="py-2 left-side-text">Home</h6>
        </li>
        <li onclick="location.href='/admin/category';"  class="list-group-item text-center">
            <br>
            <img class="" src="/icon/article-v1.svg" style="width: 30px; height: 30px;" alt="">
            <h6 class="py-2 left-side-text">Category</h6>
        </li>
        <li onclick="location.href='/admin/article';"  class="list-group-item text-center">
            <br>
            <img class="" src="/icon/article-v2.svg" style="width: 30px; height: 30px;" alt="">
            <h6 class="py-2 left-side-text">Article</h6>
        </li>
        <li onclick="location.href='/admin/user';"  class="list-group-item text-center">
            <br>
            <img class="" src="/icon/user-v4.svg" style="width: 30px; height: 30px;" alt="">
            <h6 class="py-2 left-side-text">User</h6>
        </li>
        <li onclick="location.href='/admin/question';"  class="list-group-item text-center">
            <br>
            <img class="" src="/icon/question-v4-1.svg" style="width: 30px; height: 30px;" alt="">
            <h6 class="py-2 left-side-text">Question</h6>
        </li>
        <li onclick="location.href='/admin/feedback';"  class="list-group-item text-center">
            <br>
            <img class="" src="/icon/feedback-v2.svg" style="width: 30px; height: 30px;" alt="">
            <h6 class="py-2 left-side-text">Feedback</h6>
        </li>
        <li onclick="location.href='/admin/customize/'+$('#user_id').text();"   class="list-group-item text-center">
            <br>
            <img class="" src="/icon/setting-v4.svg" style="width: 30px; height: 30px;" alt="">
            <h6 class="py-2 left-side-text">Setting</h6>
        </li>
        <hr>
    </ul>
</div>
