<div class="sidebar left-side-menu-sidebar border-right bg-white w-100">
    <style>
        li.list-group-item {
            padding: 0%;
        }
    </style>
    <ul class="list-group list-group-flush left-side-menu-ul ">
        <li class="list-group-item text-center w-100">
            <br>
            <i class="material-icons-new outline-home"></i>
            <p>Home</p>
        </li>
        <li class="list-group-item text-center">
            <br>
            <i class="material-icons-new outline-library_books"></i>
            <p>Article</p>
        </li>
        <li class="list-group-item text-center">
            <br>
            <i class="material-icons-new outline-people"></i>
            <p>User</p>
        </li>
        <li class="list-group-item text-center">
            <br>
            <i class="material-icons-new outline-question_answer"></i>
            <p>Question</p>
        </li>
        <li class="list-group-item text-center">
            <br>
            <i class="material-icons-new outline-feedback"></i>
            <p>Feedback</p>
        </li>
        <li class="list-group-item text-center">
            <br>
            <i class="material-icons-new outline-settings_applications"></i>
            <p>Setting</p>
        </li>
        <hr>
    </ul>
</div>