
<style>
body {
    background-color: #E5EAED;
}
/*  top menu*/

li.nav-item {
    width: 3cm;

}
.left-side-menu-ul>li:hover{
    background-color: #E5EAED;
}
.navbar-nav >li.nav-item>a>h5:hover {
    /* border-bottom: 2px solid #393939;
    border-width: 5px; */
    background-color: #f89808;
}
li.nav-link>h5{
    width: 5cm;
}
/* end */
.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #F85252;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}

input[type="text"].form-control-one-line,
select.form-control-one-line{
    background: transparent;
    border: 1px solid #00000087; 
    /* border: none;
    border-bottom: 1px solid #000000; */
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}

input[type="text"]:focus,
select.form-control-one-line:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: none;
}
.left-side-menu-div,.left-side-menu-ul{
    height: 100vh;
}

.right-side-bar-form>div>div{
    width: 40%;
}
.right-side-bar-upper-div{
    /* height: 90vh; */
}
    @media only screen and (max-width: 992px) {
    .right-side-bar-upper-div{
        background-color: #E5EAED !important;
    }
    .right-side-bar-upper-div>div>div{ 
        width: 100% !important;
    }
}        
</style>