
<style>
body {
    background-color: #E5EAED;
}
/*  top menu*/

li.nav-item {
    width: 3cm;

}
.navbar-nav >li.nav-item:hover ,.left-side-menu-ul>li:hover{
    background-color: #E5EAED;
}
li.nav-link>h5{
    width: 5cm;
}
/* end */
.material-icons-new {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}

input[type="text"].form-control-one-line,
select.form-control-one-line{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
select.form-control-one-line:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: none;
}
</style>