<nav class="navbar navbar-expand-lg bg-white border-bottom" >
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTopRightSide" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ">
            <i class="material-icons-new outline-toc">
                
                </i>
        </span>
    </button>

    <a class="navbar-brand ml-4 text-dark" href="#">
        <h3><b>KhmerHowTo</b></h3>
    </a>
    <div class="mx-auto  text-center w-75 d-none d-lg-block">
        <input type="text" class="form-control-one-line w-50" placeholder="Search">
    </div>
   
    
    <div class="collapse navbar-collapse" id="navbarTopRightSide">
        
        <ul class="navbar-nav ml-auto ">
            <!-- 

                last 3 = text-center    
             -->
            <li class="nav-item  d-none d-lg-block">
                <a class="nav-link text-dark" href="#">
                    <h5>Home</h5>
                </a>
            </li>
            <li class="nav-item  d-none d-lg-block">
                <a class="nav-link text-center text-dark" href="#">
                    <h5>Category</h5>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link text-center  d-none d-lg-block" href="#">  
                    <i class="material-icons-new outline-notifications md-24"></i>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-center  d-none d-lg-block" href="#">  
                    <i class="material-icons-new outline-account_circle md-36"></i>
                </a>
            </li>
        </ul>
        <ul class="d-md-block d-lg-none">
            <li class="list-group-item text-center">
                <a class="nav-link text-dark" href="#">
                    <i class="material-icons-new outline-home"></i>
                    <h5>Home</h5>
                </a>
            </li>
            <li class="list-group-item text-center">
                <a class="nav-link text-center text-dark" href="#">
                    <i class="material-icons-new outline-library_books md-36"></i>
                    <h5>Category</h5>

                </a>
            </li>
            <li class="list-group-item text-center">
                <i class="material-icons-new outline-notifications"></i>
                <p>Notification</p>
            </li>
            
        </ul> 
    </div>
</nav>