<style>
     .icon-linear-color{
        background: #b93d5c;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    .dropdown ul.dropdown-menu-customized:before {
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 52px;
        z-index: 10;
    }

     /*More  Custom CSS*/
     .dropdown-menu {
         position: absolute;
         top: 127%;
         left: -300px;
         z-index: 1000;
         display: none;
         float: left;
         min-width: 10rem;
         padding: .5rem 0;
         margin: .125rem 0 0;
         font-size: 1rem;
         color: #212529;
         text-align: left;
         list-style: none;
         background-color: #fff;
         background-clip: padding-box;
         border: 1px solid rgba(0,0,0,.15);
         border-radius: .25rem;
     }




     /* Chamroeun Notification */
     /*.dropdown {*/
     /*    display:inline-block;*/
     /*    margin-left:20px;*/
     /*    padding:10px;*/
     /*}*/


     /*.glyphicon-bell {*/

     /*    font-size:1.5rem;*/
     /*}*/




     .notifications {
         min-width:420px;
     }

     .notifications-wrapper {
         overflow:auto;
         max-height:250px;
     }

     .notification-menu-title {
         color:#ff7788;
         font-size:1.5rem;
         display:inline-block;
     }

     /*.glyphicon-circle-arrow-right {*/
     /*    margin-left:10px;*/
     /*}*/


     .notification-heading, .notification-footer  {
         padding:2px 10px;
     }


     .buttom-divider {
         margin:5px 0;
     }

     .item-title {

         font-size:16px;
         color:#000;

     }

     .notifications a.notifications-content {
         text-decoration:none;
         background:#ccc;

     }

     .notifications-item {
         padding:10px;
         margin:5px;
         background:#ccc;
         border-radius:4px;
     }

    .item-info{
        font-size: 14px;
    }



</style>
<nav class="navbar navbar-expand-lg bg-white border-bottom pb-0" >
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTopRightSide" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ">
            <i class="material-icons-new outline-toc">
                
                </i>
        </span>
    </button>

    <a class="navbar-brand ml-4 text-dark" href="/homepage">
        <h3 class="icon-linear-color"><b>KhmerHowTo</b></h3>
    </a>
    <div class="mx-auto  text-center w-75 d-none d-lg-block">
        <input type="text" class="form-control-one-line w-50" placeholder="&nbsp;&nbsp; Search">
    </div>
   
    
    <div class="collapse navbar-collapse" id="navbarTopRightSide">
        
        <ul class="navbar-nav ml-auto ">
            <!-- 

                last 3 = text-center    
             -->
            <li class="nav-item  d-none d-lg-block">
                <a class="nav-link text-dark" href="/homepage">
                    <h5 th:class="${CURRENT_PAGE == 'home'}?'icon-linear-color page-active':'icon-linear-color'" style="width: 65%;">Home</h5>
                </a>
            </li>
            <li class="nav-item  d-none d-lg-block">
                <a class="nav-link text-center text-dark" href="/contentByCategory">
                    <h5 th:class="${CURRENT_PAGE == 'category'}?'icon-linear-color page-active':'icon-linear-color'"  >Category</h5>
                </a>
            </li>
            <li class="nav-item  ">
                <div class="dropdown ">
                    <a class="nav-link text-center  d-none d-lg-block" href="#" id="dLabel" role="button" data-toggle="dropdown" data-target="#" aria-haspopup="true" aria-expanded="false">
                        <img class="" src="/icon/notification-navbar-v2.svg" style="width: 28px; height: 28px;" alt="">
                    </a>
<!--                    <div class="notify-drop dropdown-menu notifications dropdown-menu-customized dropdown-menu-right mt-3" style="width: 100px;" aria-labelledby="notification">-->
<!--                        <ul class="list-group">-->
<!--                            <li class="list-group-item" >New post From Science</li>-->
<!--                            <li class="list-group-item">New post From Tech</li>-->
<!--                            <li class="list-group-item">New post From Soft</li>-->
<!--                        </ul>-->
<!--                    </div>-->


<!--                    CH note-->
                    <ul class="dropdown-menu notifications dropdown-menu-customized " role="menu" aria-labelledby="dLabel">

                        <div class="notification-heading">
                            <h4 class="notification-menu-title">Notifications</h4>
<!--                            <h4 class="notification-menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>-->
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper ">
                            <a class="notifications-content" href="#">
                                <div class="notifications-item">
                                    <h6 class="item-title">New article has been posted in Entertainment</h6>
                                    <p class="item-info text-muted"><i>2</i>&nbsp;<i>Hours ago</i></p>
                                </div>

                            </a>
                            <a class="notifications-content" href="#">
                                <div class="notifications-item">
                                    <h6 class="item-title">New article has been posted in Entertainment</h6>
                                    <p class="item-info text-muted"><i>2</i>&nbsp;<i>Hours ago</i></p>
                                </div>
                            </a>
                            <a class="notifications-content" href="#">
                                <div class="notifications-item">
                                    <h6 class="item-title">New article has been posted in Entertainment</h6>
                                    <p class="item-info text-muted"><i>2</i>&nbsp;<i>Hours ago</i></p>
                                </div>
                            </a>
                            <a class="notifications-content" href="#">
                                <div class="notifications-item">
                                    <h6 class="item-title">New article has been posted in Entertainment</h6>
                                    <p class="item-info text-muted"><i>2</i>&nbsp;<i>Hours ago</i></p>
                                </div>

                            </a>
                            <a class="notifications-content" href="#">
                                <div class="notifications-item">
                                    <h6 class="item-title">New article has been posted in Entertainment</h6>
                                    <p class="item-info text-muted"><i>2</i>&nbsp;<i>Hours ago</i></p>
                                </div>
                            </a>
                            <a class="notifications-content" href="#">
                                <div class="notifications-item">
                                    <h6 class="item-title">New article has been posted in Entertainment</h6>
                                    <p class="item-info text-muted"><i>2</i>&nbsp;<i>Hours ago</i></p>
                                </div>
                            </a>

                        </div>
                        <li class="divider buttom-divider "></li>
                        <div class="notification-footer"><h4 class="notification-menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                    </ul>
<!--                    End CH note-->



                </div>
            </li>
            <li class="nav-item ">
                <div class="dropdown ">

                    <a class="nav-link text-center  d-none d-lg-block" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
                        <img class="" src="/icon/user-navbar-v2.svg" style="width: 30px; height: 30px;" alt="">
                    </a>
                <div class="dropdown-menu dropdown-menu-customized dropdown-menu-right mt-3" aria-labelledby="profile">
                    <div class="card">
                        <div class="card-title d-flex justify-content-around">
                                <img class="" src="/icon/user-navbar-v2.svg" style="width: 30px; height: 30px;" alt="">
                                <p> Administrator</p>
                            
                        </div>
                        <div class="card-body">
                            <p class="">
                                at org.apache.catalina.valves.ErrorReportValve.invoke
                                (ErrorReportValve.java:92)[tomcat-embed-core-9.0.19.jar:9.0.19]
                                at org.apache.catalina.core.StandardEngineValve.invoke
                                (StandardEngineValve.java:74)[tomcat-embed-core-9.0.19.jar:9.0.19]
                                
                            </p>
                        </div>
                    </div>
                  </div>
                </div>
            </li>
        </ul>
        <ul class="d-md-block d-lg-none">
            <li class="list-group-item">
                <a class="nav-link text-dark" href="/homepage">
                    
                    <h5 class="icon-linear-color"><sub><i class="material-icons-new outline-home mr-2"></i></sub> Home</h5>
                </a>
            </li>
            <li class="list-group-item ">
                <a class="nav-link text-dark" href="/contentByCategory">
                    
                    <h5 class=" icon-linear-color"><sub><i class="material-icons-new outline-library_books md-36 mr-2"></i></sub> Category</h5>

                </a>
            </li>
            <li class="list-group-item text-center">
                <a class="nav-link text-dark ">
                    <h5 class="text-left icon-linear-color"><sub><i class="material-icons-new outline-notifications mr-2 "></i></sub> Notification</h5>
                </a>
               
            </li>
            
        </ul> 
    </div>
</nav>