<style>
     .icon-linear-color{
        background: #393939;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    .dropdown div.dropdown-menu-customized:before {
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 40px;
        z-index: 10;
    }
    .page-active {
        border-bottom: 2px solid #f89808;
        border-width: 5px;
    }
    .search-bar-parent-div {
        /* border-color: #00000029 !important; */
        border : 1px solid #00000029;
        border-radius: 20px;
    }
    .search-bar {
        height: 35px; 
        padding-left: 5px;
        border : 0px !important;
        width: 90%;
     
    }
    .search-bar:focus{
        /* border-radius: 0px; */
        /* border : 1px solid #0000008; */
        outline: none;
        
    }
    .click-list-user-profile:hover{
        background-color: #E5EAED;
        cursor: pointer; 
    }
</style>
<nav class="navbar navbar-expand-lg bg-white border-bottom" >
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTopRightSide" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ">
            <i class="material-icons-new outline-toc">
                
                </i>
        </span>
    </button>

    <a class="navbar-brand ml-4 text-dark" href="/homepage">
        <h3 class="icon-linear-color"><b>KhmerHowTo</b></h3>
    </a>
    <div class="mx-auto  text-center w-75 d-none d-lg-block">
      
        <div class="mx-auto w-50 search-bar-parent-div d-flex">
            <input type="text" class="form-control-one-line search-bar" style="" placeholder="&nbsp;&nbsp; Search"  >
            <button class="border-0 bg-transparent d-flex">  
                <i class="material-icons-new outline-search" style="color: #0000008 !important; "></i>
            </button>
           
        </div>
    </div>
   
    
    <div class="collapse navbar-collapse" id="navbarTopRightSide">
        
        <ul class="navbar-nav ml-auto ">
            <!-- 

                last 3 = text-center    
             -->
            <li class="nav-item  d-none d-lg-block">
                <a class="nav-link text-center text-dark" href="/homepage">
                    <h5 th:class="${CURRENT_PAGE == 'home'}?'icon-linear-color page-active':'icon-linear-color'" style="width: 60%;">Home</h5>
                </a>
            </li>
            <li class="nav-item  d-none d-lg-block">
                <a class="nav-link text-center text-dark" href="/contentByCategory">
                    <h5 th:class="${CURRENT_PAGE == 'category'}?'icon-linear-color page-active':'icon-linear-color'"  >Category</h5>
                </a>
            </li>
            <li class="nav-item  ">
                <div class="dropdown ">
                    <a class="nav-link text-center  d-none d-lg-block" href="#" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                        <img class="" src="/icon/notification-navbar-v2.svg" style="width: 28px; height: 28px;" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-customized dropdown-menu-right mt-3" style="width: 100px;" aria-labelledby="notification">
                        <ul class="list-group">
                            <li class="list-group-item" >New post From Science</li>
                            <li class="list-group-item">New post From Tech</li>
                            <li class="list-group-item">New post From Soft</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item ">
                <div class="dropdown ">

                    <a class="nav-link text-center  d-none d-lg-block" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
                        <img class="" src="/icon/user-navbar-v2.svg" style="width: 30px; height: 30px;" alt="">
                    </a>
                <div class="dropdown-menu dropdown-menu-customized dropdown-menu-right mt-3" aria-labelledby="profile">
                    <div class="card border-0">
                        <div class="card-title ">
                                <div class="text-center pt-2">
                                    <img class="" src="/icon/user-navbar-v2.svg" style="width: 50px; height: 50px;" alt="">
                                    <br>
                                    <h6 class="pt-2"> Administrator</h6>
                            
                                </div>
                        </div>
                        <div class="card-body">
                            <p class="">
                                at org.apache.catalina.valves.ErrorReportValve.invoke
                                (ErrorReportValve.java:92)[tomcat-embed-core-9.0.19.jar:9.0.19]
                                at org.apache.catalina.core.StandardEngineValve.invoke
                                (StandardEngineValve.java:74)[tomcat-embed-core-9.0.19.jar:9.0.19]
                                
                            </p>
                        </div>
                       
                        <div class="">
                           <ul class="list-group list-group-flush border-top">
                            <li class="list-group-item text-center click-list-user-profile" onclick="location.href='/admin/customize';">Customize</li>
                            <li class="list-group-item text-center click-list-user-profile" onclick="location.href='/admin';">Admin</li>
                           </ul>
                        </div>
                    </div>
                  </div>
                
            </li>
        </ul>
        <ul class="d-md-block d-lg-none">
            <li class="list-group-item">
                <a class="nav-link text-dark" href="/homepage">
                    
                    <h5 class="icon-linear-color"><sub><i class="material-icons-new outline-home mr-2"></i></sub> Home</h5>
                </a>
            </li>
            <li class="list-group-item ">
                <a class="nav-link text-dark" href="/contentByCategory">
                    
                    <h5 class=" icon-linear-color"><sub><i class="material-icons-new outline-library_books md-36 mr-2"></i></sub> Category</h5>

                </a>
            </li>
            <li class="list-group-item text-center">
                <a class="nav-link text-dark ">
                    <h5 class="text-left icon-linear-color"><sub><i class="material-icons-new outline-notifications mr-2 "></i></sub> Notification</h5>
                </a>
               
            </li>
            
        </ul> 
    </div>
</nav>